<% title "#{params[:keywords]} #{params[:keyword]} packages written in #{@language}" %>
<% description "Find popular and trending #{params[:keywords]} #{params[:keyword]} packages written in #{@language}" %>

<h1>
  <div class="pictogram pictogram-lg pictogram-<%= @language.downcase %>"></div>
  <%= params[:keywords] %> <%= params[:keyword] %> packages written in <%= @language %>
</h1>

<div class="col-sm-8">
  <%= render @projects %>
  <%= will_paginate @search, page_links: false %>
</div>
<div class='col-sm-4 facets'>
  <% @facets.each do |name, facet| %>
    <% facet = facet[facet.keys.last] %>
    <% next if facet.buckets.empty? %>
    <% next if name == 'languages' %>
    <%= render 'search/facet', name: name, facet: facet %>
  <% end %>
</div>
