<% title "#{@license.name} license - Libraries" %>
<% description "New and popular projects licensed with #{@license.name}" %>
<h1>
  <%= @license.name %>
  <% if @license.osi_approved? %>
    <small>OSI Approved</small>
  <% end %>
</h1>
<% url = "http://spdx.org/licenses/#{@license.id}" %>
<%= link_to url, url %>
<hr>
<div class='row'>
  <% if @popular.any? %>
  <div class='col-md-4'>
    <h4>
      Popular <%= @license.id %> Projects
      <small class='more'>
        <%= link_to 'See more &raquo;'.html_safe, search_path(licenses: @license.id, sort: 'rank', order: 'desc') %>
      </small>
    </h4>
    <%= render @popular %>
  </div>
  <% end %>

  <% if @updated.any? %>
  <div class='col-md-4'>
    <h4>
      <%= link_to search_path(licenses: @license.id, sort: 'latest_release_published_at', order: 'desc', format: :atom), class: 'rss' do %>
        <%= fa_icon "rss-square" %>
      <% end %>
      Updated <%= @license.id %> Projects
      <small class='more'>
        <%= link_to 'See more &raquo;'.html_safe, search_path(licenses: @license.id, sort: 'latest_release_published_at', order: 'desc') %>
      </small>
    </h4>
    <%= render @updated %>
  </div>
  <% end %>

  <% if @created.any? %>
  <div class='col-md-4'>
    <h4>
      <%= link_to search_path(licenses: @license.id, sort: 'created_at', order: 'desc', format: :atom), class: 'rss' do %>
        <%= fa_icon "rss-square" %>
      <% end %>
      New <%= @license.id %> Projects
      <small class='more'>
        <%= link_to 'See more &raquo;'.html_safe, search_path(licenses: @license.id, sort: 'created_at', order: 'desc') %>
      </small>
    </h4>
    <%= render @created %>
  </div>
  <% end %>
</div>
<hr>
<div class='row'>
  <% if @watched.any? %>
  <div class='col-md-4'>
    <h4>Most Watched <%= @license.id %> Projects</h4>
    <%= render @watched %>
  </div>
  <% end %>

  <% if @languages.any? %>
  <div class='col-md-4'>
    <h4>Popular <%= @license.id %> Languages</h4>
    <%= render partial: 'languages/list_language', collection: @languages, as: :language %>
  </div>
  <% end %>

  <% if @platforms.any? %>
  <div class='col-md-4'>
    <h4>Popular <%= @license.id %> Platforms</h4>
    <%= render partial: 'platforms/list_platform', collection: @platforms, as: :platform %>
  </div>
  <% end %>
</div>
