<% title "#{@license.name} license - Libraries" %>

<h1>
  <%= @license.name %>
  <% if @license.osi_approved? %>
    <small>OSI Approved</small>
  <% end %>
</h1>
<% url = "http://spdx.org/licenses/#{@license.id}" %>
<%= link_to url, url %>
<hr>
<div class='row'>
  <% if @popular.any? %>
  <div class='col-md-4'>
    <h4>Popular <%= @license.id %> Projects</h4>
    <%= render @popular %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(licenses: @license.id, order: 'desc') %>
    </p>
  </div>
  <% end %>

  <% if @updated.any? %>
  <div class='col-md-4'>
    <h4>Updated <%= @license.id %> Projects</h4>
    <%= render @updated %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(licenses: @license.id, sort: 'updated_at', order: 'desc') %>
    </p>
  </div>
  <% end %>

  <% if @created.any? %>
  <div class='col-md-4'>
    <h4>New <%= @license.id %> Projects</h4>
    <%= render @created %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(licenses: @license.id, sort: 'created_at', order: 'desc') %>
    </p>
  </div>
  <% end %>
</div>
<hr>
<div class='row'>
  <% if @languages.any? %>
  <div class='col-md-4'>
    <h4>Popular <%= @license.id %> Languages</h4>
    <%= render partial: 'languages/list_language', collection: @languages, as: :language %>
  </div>
  <% end %>
  <% if @platforms.any? %>
  <div class='col-md-4'>
    <h4>Popular <%= @license.id %> Platforms</h4>
    <%= render partial: 'platforms/list_platform', collection: @platforms, as: :platform %>
  </div>
  <% end %>
</div>
