<% project = version.project %>
<% if project.latest_release_number.present? %>
  <div class="notification">
    <div class="pull-right mute">
      <% if subscription = current_user.subscribed_to?(project) %>
        <%= link_to subscription_path(subscription), method: :delete, class: 'tip', title: "Unsubscribe from #{project.name}" do %>
          <i class='fa fa-eye-slash'></i>
        <% end %>
      <% else %>
        <%= link_to mute_project_path(project.to_param), method: :post, class: 'tip', title: "Mute #{project.name} notifications" do %>
          <i class='fa fa-microphone-slash'></i>
        <% end %>
      <% end %>
    </div>

    <%= link_to version_url(version.to_param) do %>
      <div class="pictogram pictogram-<%= project.platform.downcase %>"></div>
    <% end %>

    <h5 class='<%= 'with_dependent_repos' if your_dependent_repos.length > 0 %>'>
      <%= link_to project, project_path(project.to_param) %> - <%= link_to version, version_url(version.to_param) %>
      <small>published <%= timeago_tag(version.published_at) %></small>
    </h5>
  </div>
<% end %>
