<% project = version.project %>
<% if project.latest_release_number.present? %>
  <div class="notification">
    <div class="pull-right mute">
      <% if subscription = current_user.subscribed_to?(project) %>
        <%= link_to subscription_path(subscription), method: :delete, class: 'btn tip', title: "Stop being notified of new releases of #{project.name}" do %>
          <i class='fa fa-eye-slash'></i>
        <% end %>
      <% else %>
        <!-- <i class='fa fa-microphone-slash'></i> -->
      <% end %>
    </div>

    <%= link_to version_url(version.to_param) do %>
      <div class="pictogram pictogram-<%= project.platform.downcase %>"></div>
    <% end %>

    <h5>
      <%= link_to version, version_url(version.to_param) %> of
      <%= link_to project, project_path(project.to_param) %> published
      <small> <%= time_ago_in_words(version.published_at) %> ago</small>
    </h5>
  </div>
<% end %>
