<% if project.latest_release_number.present? %>
  <div class="notification">
    <%= link_to version_url(project.to_param.merge(number: project.latest_release_number)) do %>
      <div class="pictogram pictogram-<%= project.platform.downcase %>"></div>
    <% end %>

    <h5>
      <%= link_to project.latest_release_number, version_url(project.to_param.merge(number: project.latest_release_number)) %> of
      <%= link_to project, project_path(project.to_param) %> published
      <small> <%= time_ago_in_words(project.latest_release_published_at) %> ago</small>
    </h5>
  </div>
<% end %>
