<div class="row">
  <div class="col-md-8" id='newsfeed'>
    <% if @versions.any? %>
      <%= render collection: @versions, partial: 'dashboard/new_version', as: :version  %>
      <%= will_paginate @versions, renderer: BootstrapPagination::Rails, page_links: false %>
    <% else %>
      <h2>Hi there <%= current_user.full_name %>!</h2>
      <p>
        Libraries.io lets you watch libraries that you depend on and notifies you when there's a new release.
        When you follow a library, new releases will show up here in your newsfeed.
      </p>

      <p>
        Below are some recommended projects for you to watch:
      </p>
      <%= render collection: @projects, partial: 'subscriptions/project' %>
    <% end %>
    <% if current_user.muted_projects.any? %>
        <p>
          <small>
            <% if params[:include_muted].present? %>
              Showing <%= pluralize current_user.muted_projects.length, 'muted project' %> -
              <%= link_to 'Hide muted projects', url_for(params.except(:include_muted)) %>
            <% else %>
              Not showing <%= pluralize current_user.muted_projects.length, 'muted project' %> -
              <%= link_to 'Show muted projects', url_for(params.merge(include_muted: true)) %>
            <% end %>
          </small>
        </p>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if @repositories.any? %>
      <h3>
        Active Projects
        <%= link_to dashboard_path, class: 'pull-right' do %>
          <small>Manage Repositories</small>
        <% end %>
      </h3>
      <% @repositories.each do |github_repository| %>
        <div class='mini-project'>
          <%= link_to github_repository_path(github_repository.owner_name, github_repository.project_name) do %>
            <%= image_tag github_repository.owner.avatar_url(40), width: 20  %>
          <% end %>
          <%= link_to github_repository.full_name, github_repository_path(github_repository.owner_name, github_repository.project_name) %>
          <small><% if github_repository.pushed_at > github_repository.created_at + 1.minute %>
            Updated <%= time_ago_in_words github_repository.pushed_at %> ago
          <% else %>
            Published <%= time_ago_in_words github_repository.created_at %> ago
          <% end %></small>
        </div>
      <% end %>
      <hr>
    <% end %>
    <% if @versions.any? %>
      <h3>Recommended Libraries</h3>
      <%= render collection: @projects, partial: 'project' %>
    <% end %>
  </div>
</div>
