<h2>Repository Monitoring</h2>
<div class='row'>
  <% if current_user.public_repo_token.blank? %>
    <div class="col-md-8">
      <p>
        With the help of a webhook, Libraries.io can automatically keep track of all
        of the libraries that your GitHub project depends upon across many different package managers.
      </p>
      <p>
        Once synced, Libraries.io will email you about new versions of your dependencies,
        if you add or remove a new dependency it will change the notifications settings for that library
        as soon as you push to GitHub.
      </p>
      <p><strong>Supported Package Managers:</strong></p>
      <div class="">
        <% Download.platforms.select{|p| p::LIBRARIAN_SUPPORT }.sort_by{|p| p.formatted_name.downcase }.each do |platform| %>
          <div class="pictogram tip pictogram-<%= platform.formatted_name.downcase %>" title='<%= platform.formatted_name %>'></div>
        <% end %>
      </div>
      <br>
      <p>
        <%= link_to '/auth/github_public', class: 'btn btn-primary' do %>
          <i class="fa fa-github"></i> Enable Open Source Access for Free
        <% end %>
      </p>
    </div>
  <% else %>
    <% if current_user.admin? && current_user.private_repo_token.blank? %>
    <div class="col-md-12">
      <p>
        <%= link_to '/auth/github_private', class: 'btn btn-primary' do %>
          <i class="fa fa-github"></i> Enable Private Repository Access
        <% end %>
      </p>
    </div>
    <% end %>

    <div class="col-md-4">
      <div>
        <%= link_to url_for(org: nil) do %>
          <%= image_tag current_user.avatar_url(80), width: 40 %>
          <%= current_user.nickname %>
        <% end %>
      </div>
      <% @orgs.each do |org| %>
        <div>
          <%= link_to url_for(org: org) do %>
            <%= image_tag org.avatar_url(80), width: 40 %>
            <%= org %>
          <% end %>
        </div>
      <% end %>
      <hr>
      <p>
        <% if current_user.currently_syncing? %>
          <i class="fa fa-refresh fa-spin"></i> currently syncing
        <% else %>
          <%= link_to 'Sync', sync_path, method: :post, class: 'btn btn-sm btn-info' %>
          Last updated <%= time_ago_in_words current_user.last_synced_at %> ago
        <% end %>
      </p>

      <p>
        <small>
        Is an organization missing?<br>
        <%= link_to 'Review and add', current_user.github_settings_url %> your authorized organizations.
        </small>
      </p>
    </div>
    <div class="col-md-8">
      <% @repos.each do |github_repository| %>
        <%= render 'github_repository', github_repository: github_repository %>
      <% end %>
      <%= will_paginate @repos, renderer: BootstrapPagination::Rails, page_links: false %>
    </div>
  <% end %>
</div>
