<div class='row'>
  <h2>Repository Monitoring</h2>
  <% if current_user.public_repo_token.blank? %>
    <%= link_to 'Enable Public Repo Access', '/auth/github_public', class: 'btn btn-primary' %>
  <% else %>
    <% if current_user.admin? && current_user.private_repo_token.blank? %>
      <%= link_to 'Enable Private Repo Access', '/auth/github_private', class: 'btn btn-primary' %>
    <% end %>
    <div class="col-md-4">
      <div>
        <%= link_to url_for(org: nil) do %>
          <%= image_tag current_user.avatar_url(40), width: 40 %>
          <%= current_user.nickname %>
        <% end %>
      </div>
      <% @orgs.each do |org| %>
        <div>
          <%= link_to url_for(org: org) do %>
            <%= image_tag org.avatar_url(40) %>
            <%= org %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <% @repos.each do |github_repository| %>
        <%= render 'github_repository', github_repository: github_repository %>
      <% end %>
      <%= will_paginate @repos, renderer: BootstrapPagination::Rails, page_links: false %>
    </div>
  <% end %>
</div>
