<h1>Login to Libraries.io</h1>

<p>Choose one of the identity providers to login with:</p>

<p>
  <%= link_to '/auth/github', class: 'btn btn-success' do %>
    <%= fa_icon 'github' %> Login with GitHub
  <% end %>
</p>

<p>
  <%= link_to '/auth/gitlab', class: 'btn btn-success' do %>
    <%= fa_icon 'gitlab' %> Login with GitLab
  <% end %>
</p>

<p>
  <%= link_to '/auth/bitbucket', class: 'btn btn-success' do %>
    <%= fa_icon 'bitbucket' %> Login with Bitbucket
  <% end %>
</p>

<p>By logging in you accept our <a href='/terms'>terms of service</a> and <a href='/privacy'>privacy policy</a>.</p>