<div class="row">
  <div class="col-md-12">
    <h1>
      <%= link_to image_tag(@repository.avatar_url(100), width: 50, height: 50, alt: @repository), user_path(@repository.owner.to_param) %>
      <%= link_to @repository.full_name, repository_path(@repository.to_param) %> -
      Edit Web Hook
    </h1>
  </div>
  <div class="col-md-6">
    <%= simple_form_for @web_hook, url: repository_web_hook_path(@repository.to_param.merge(id: @web_hook.id)) do |form| %>
      <%= form.input :url, hint: 'Where the web hook will post data', placeholder: 'https://my-webhook.com/endpoint', label: 'Web Hook URL' %>
      <%= form.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
