<div class='project' style="border-color: <%= repository.color %>;">
  <h5>
    <%= link_to repository.full_name, repository_path(repository.owner_name, repository.project_name) %>
    <small>
      <%= fa_icon("lock") if repository.private? %>
      <%= fa_icon("code-fork") if repository.fork? %>
    </small>
  </h5>

  <div>
    <%= emojify truncate(repository.description, :length => 100) %>
  </div>

  <small>
    <% if repository.is_removed? %>
      <%= fa_icon('exclamation-triangle') %> This repository is no longer available
    <% elsif repository.is_deprecated? %>
      <%= fa_icon('exclamation-triangle') %> This repository is deprecated -
      <% if repository.pushed_at && repository.pushed_at > repository.created_at + 1.minute %>
        Last pushed <%= timeago_tag repository.pushed_at %>
      <% else %>
        Published <%= timeago_tag repository.created_at %>
      <% end %>
    <% elsif repository.is_unmaintained? %>
      <%= fa_icon('exclamation-triangle') %> This repository is no longer maintained -
      <% if repository.pushed_at && repository.pushed_at > repository.created_at + 1.minute %>
        Last pushed <%= timeago_tag repository.pushed_at %>
      <% else %>
        Published <%= timeago_tag repository.created_at %>
      <% end %>
    <% else %>
      <% if repository.language.present? %>
        <%= link_to repository.language, language_path(repository.language) %> -
      <% end %>
      <% if repository.license.present? %>
        <%= linked_licenses [repository.license] %> -
      <% end %>
      <% if repository.pushed_at && repository.pushed_at > repository.created_at + 1.minute %>
        Last pushed <%= timeago_tag repository.pushed_at %>
      <% else %>
        Published <%= timeago_tag repository.created_at %>
      <% end %> - <%= number_to_human repository.stars %> stars
      <% if repository.fork? %>
      - Fork
        <% if repository.source.present? || repository.source_name.present? %>
        of <%= link_to repository.source_name, source_path(repository) %>
        <% end %>
      <% elsif repository.forks > 0 %>
        - <%= number_to_human repository.forks %> forks
      <% end %>
    <% end %>
  </small>
</div>
