<% title "Repositories - Libraries.io" %>
<% description "Explore popular Repositories on Libraries.io" %>

<div class='row'>
  <div class='col-md-12'>
    <h1><i class="fa fa-github"></i> <%= @title %></h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <div class='row'>
      <% if @popular.any? %>
        <div class='col-sm-6'>
          <h4>
            Most Starred <%= @title %>
          </h4>
          <%= render @popular, cache: true %>
        </div>
      <% end %>
      <% if @forked.any? %>
        <div class='col-sm-6'>
          <h4>
            Most Forked <%= @title %>
          </h4>
          <%= render @forked, cache: true %>
        </div>
      <% end %>
    </div>
    <hr>
    <div class='row'>
      <% if @created.any? %>
      <div class='col-sm-6'>
        <h4>
          New <%= @title %>
        </h4>
        <%= render @created, cache: true %>
      </div>
      <% end %>
      <% if @updated.any? %>
      <div class='col-sm-6'>
        <h4>
          Recently Pushed <%= @title %>
        </h4>
        <%= render @updated, cache: true %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'adsense/sidebar' %>
    <div class='row'>
      <% if @languages.any? %>
        <div class='col-md-12 col-sm-4 facets'>
          <h4>Popular Languages</h4>
          <ul class='filter'>
            <% @languages.each do |language| %>
              <li class='<%= 'active' if language.term.downcase == params[:language].try(:downcase) %>'>
                <% if language.term.downcase == params[:language].try(:downcase) %>
                  <%= link_to format_language(language.term), github_path(language: nil, license: params[:license], keywords: params[:keywords]) %>
                <% else %>
                  <%= link_to format_language(language.term), github_path(language: format_language(language.term), license: params[:license], keywords: params[:keywords]) %>
                  <small><%= pluralize number_to_human(language['count']), 'repos' %></small>
                <% end %>
              </li>
            <% end %>
            <% if @language && !@languages.map{|l| l[0].downcase }.include?(@language.name.downcase) %>
              <li class='active'>
                <%= link_to format_language(@language.name), github_path(language: nil, license: params[:license], keywords: params[:keywords]) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @licenses.any? %>
        <div class='col-md-12 col-sm-4 facets'>
          <h4>Popular Licenses</h4>
          <ul class='filter'>
            <% @licenses.each do |license| %>
              <li class='<%= 'active' if license.term.downcase == params[:license].try(:downcase) %>'>
                <% if license.term.downcase == params[:license].try(:downcase) %>
                  <%= link_to format_license(license.term), github_path(language: params[:language], license: nil, keywords: params[:keywords]) %>
                <% else %>
                <%= link_to format_license(license.term), github_path(license: format_license(license.term), language: params[:language], keywords: params[:keywords]) %>
                <small><%= pluralize number_to_human(license['count']), 'repos' %></small>
                <% end %>
              </li>
            <% end %>
            <% if @license && !@licenses.map{|l| l.term.downcase }.include?(@license.id.downcase) %>
              <li class='active'>
                <%= link_to format_license(@license.id), github_path(language: params[:language], license: nil, keywords: params[:keywords]) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <% if @keywords.any? %>
        <div class='col-md-12 col-sm-4 facets'>
          <h4>Popular Keywords</h4>
          <ul class='filter'>
            <% @keywords.each do |keyword| %>
              <li class='<%= 'active' if keyword.term.downcase == params[:keywords].try(:downcase) %>'>
                <% if keyword.term.downcase == params[:keywords].try(:downcase) %>
                  <%= link_to keyword.term, github_path(keywords: nil, license: params[:license], language: params[:language]) %>
                <% else %>
                  <%= link_to keyword.term, github_path(license: params[:license], language: params[:language], keywords: keyword.term) %>
                  <small><%= pluralize number_to_human(keyword['count']), 'repos' %></small>
                <% end %>
              </li>
            <% end %>
            <% if @keyword && !@keyword.map{|l| l.term.downcase }.include?(@keyword.downcase) %>
              <li class='active'>
                <%= link_to @keyword, github_path(keywords: nil, license: params[:license], language: params[:language]) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
