<% title "Programming Languages - Libraries.io" %>
<% description "All the programming languages that every repository has been written in." %>
<h1>
  <i class="fa fa-<%= current_host_icon %>"></i>
  Programming Languages
  <% if current_host %>
    on <%= formatted_host %>
  <% end %>
</h1>
<hr>
<div class='row'>
  <% @languages.each do |language| %>
    <div class='language col-xs-6 col-sm-4 col-md-3'>
      <h4>
        <div class="pictogram pictogram-<%= language['key'].downcase %>"></div>
        <div class="blurb">
          <%= link_to language['key'], search_path(language: language['key']) %>
          <small><%= number_to_human language['doc_count'] %> Repos</small>
        </div>
      </h4>
    </div>
  <% end %>
</div>
