<% title "All #{@repository.full_name} tags - Libraries.io" %>

<h1><%= link_to @repository.full_name, repository_path(@repository.to_param) %> tags</h1>
<hr>
<div class="row">
  <div class="col-sm-8">
    <%= render 'adsense/banner' %>
    <% if @tags.any? %>
      <ul>
        <% @tags.each do |tag| %>
        <li>
          <%= link_to tag, tag.github_url %>
          <% if tag.published_at.present? %>
          - <%= tag.published_at.to_s(:long) %>
          <% end %>
        </li>
        <% end %>
      </ul>
      <%= will_paginate @tags, page_links: false %>
    <% else %>
      <p>
        No tags found, go back to <%= link_to @repository.full_name, repository_path(@repository.to_param) %>.
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= render 'adsense/sidebar' %>
  </div>
</div>
