<% title "#{platform_name(@platform_name)} - Libraries" %>
<% description "New and popular projects published on #{platform_name(@platform_name)}" %>
<% content_for :atom, auto_discovery_link_tag(:atom, search_url(platforms: @platform_name, sort: 'latest_release_published_at', order: 'desc', format: :atom), title: "Updated #{platform_name(@platform_name)} Projects") %>
<% content_for :atom, auto_discovery_link_tag(:atom, search_url(platforms: @platform_name, sort: 'created_at', order: 'desc', format: :atom), title: "New #{platform_name(@platform_name)} Projects") %>

<div class='row'>
  <div class='col-md-6'>
    <h1>
      <div class="pictogram pictogram-lg pictogram-<%= @platform_name.downcase %>"></div>
      <%= platform_name(@platform_name) %></h1>

  </div>
  <div class="col-md-6">
    <br>
    <p>
      Website: <%= link_to @platform::URL, @platform::URL %>
    </p>
    <p>
      Total Packages: <%= number_with_delimiter Project.platform(@platform_name).count %>
    </p>
  </div>
</div>
<hr>
<div class='row'>
  <% cache("platform:#{@platform_name}:popular", :expires_in => 3.hours) do %>
    <% popular = Project.popular(filters: { platform: @platform_name }).first(5) %>
    <% if popular.any? %>
      <div class='col-md-4'>
        <h4>
          Popular <%= platform_name(@platform_name) %> Projects
          <small class='more'>
            <%= link_to 'See more &raquo;'.html_safe, search_path(platforms: @platform_name, sort: 'rank', order: 'desc') %>
          </small>
        </h4>
        <%= render popular %>
      </div>
    <% end %>
  <% end %>

  <% if @updated.any? %>
  <div class='col-md-4'>
    <h4>
      <%= link_to search_url(platforms: @platform_name, sort: 'latest_release_published_at', order: 'desc', format: :atom), class: 'rss' do %>
        <%= fa_icon "rss-square" %>
      <% end %>
      Updated <%= platform_name(@platform_name) %> Projects
      <small class='more'>
        <%= link_to 'See more &raquo;'.html_safe, search_path(platforms: @platform_name, sort: 'latest_release_published_at', order: 'desc') %>
      </small>
    </h4>
    <%= render @updated %>
  </div>
  <% end %>

  <% if @created.any? %>
  <div class='col-md-4'>
    <h4>
      <%= link_to search_url(platforms: @platform_name, sort: 'created_at', order: 'desc', format: :atom), class: 'rss' do %>
        <%= fa_icon "rss-square" %>
      <% end %>
      New <%= platform_name(@platform_name) %> Projects
      <small class='more'>
        <%= link_to 'See more &raquo;'.html_safe, search_path(platforms: @platform_name, sort: 'created_at', order: 'desc') %>
      </small>
    </h4>
    <%= render @created %>
  </div>
  <% end %>
</div>
<hr>
<div class='row'>
  <% if @watched.any? %>
  <div class='col-md-4'>
    <h4>Most Watched <%= platform_name(@platform_name) %> Projects</h4>
    <%= render @watched %>
  </div>
  <% end %>

  <% cache("platform:#{@platform_name}:languages", :expires_in => 3.hours) do %>
    <% languages = Project.popular_languages(filters: {platform: @platform_name}).first(10) %>
    <% if languages.any? %>
    <div class='col-md-4'>
      <h4>Popular <%= platform_name(@platform_name) %> Languages</h4>
      <%= render partial: 'languages/list_language', collection: languages, as: :language %>
    </div>
    <% end %>
  <% end %>

  <% cache("platform:#{@platform_name}:licenses", :expires_in => 3.hours) do %>
    <% licenses = Project.popular_licenses(filters: {platform: @platform_name}).first(10) %>
    <% if licenses.any? %>
      <div class='col-md-4'>
        <h4>Popular <%= platform_name(@platform_name) %> Licenses</h4>
        <%= render partial: 'licenses/list_license', collection: licenses, as: :license %>
      </div>
    <% end %>
  <% end %>
</div>
