<% title "#{@platform_name} - Libraries" %>

<div class='row'>
  <div class='col-md-6'>
    <h1><%= @platform_name %></h1>
    <%= link_to @platform::URL, @platform::URL %>
  </div>
</div>
<hr>
<div class='row'>
  <% if @popular.any? %>
    <div class='col-md-4'>
      <h4>Popular <%= @platform_name %> Projects</h4>
      <% @popular.each do |project| %>
      <div class='project'>
        <strong><%= link_to project.name, project_path(project.to_param) %></strong>
        <small>
          - <%= number_with_delimiter project.github_repository.stargazers_count %> stars
        </small>
        <br />
        <%= truncate project.description, :length => 100 %>
        <br /><br />
      </div>

      <% end %>
    </div>
  <% end %>

  <% if @updated.any? %>
  <div class='col-md-4'>
    <h4>Updated <%= @platform_name %> Projects</h4>
    <% @updated.each do |project| %>
    <div class='project'>
      <strong><%= link_to project.name, project_path(project.to_param) %></strong>
      <small>
        - Updated <%= time_ago_in_words project.updated_at %> ago
      </small>
      <br />
      <%= truncate project.description, :length => 100 %>
      <br /><br />
    </div>
    <% end %>
  </div>
  <% end %>

  <% if @created.any? %>
  <div class='col-md-4'>
    <h4>New <%= @platform_name %> Projects</h4>
    <% @created.each do |project| %>
    <div class='project'>
      <strong><%= link_to project.name, project_path(project.to_param) %></strong>
      <small>
        - Published <%= time_ago_in_words project.updated_at %> ago
      </small>
      <br />
      <%= truncate project.description, :length => 100 %>
      <br /><br />
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<div class='row'>
  <% if @licenses.any? %>
    <div class='col-md-4'>
      <h4>Popular <%= @platform_name %> Licenses</h4>
      <% @licenses.each do |license| %>
        <p>
          <%= link_to license.licenses, search_path(license: license.licenses, platform: @platform_name) %>
          - <%= pluralize license.count, 'project' %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% if @contributors.any? %>
    <div class='col-md-4'>
      <h4>Top <%= @platform_name %> Contributors</h4>
      <% @contributors.each do |user| %>
        <div>
          <%= image_tag user.avatar_url, width: 60, height: 60 %>
          <%= link_to user.login, user_path(user) %><br>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
