<%= render 'platform', platform: @platform %>
<hr>
<div class='row'>
  <% if @added.any? %>
    <div class='col-md-4'>
      <h4>Recently Added</h4>
      <%= render @added %>
    </div>
  <% end %>

  <% if @updated.any? %>
    <div class='col-md-4'>
      <h4>Recently Updated</h4>
      <%= render @updated %>
    </div>
  <% end %>

  <% if @licenses.any? %>
    <div class='col-md-4'>
      <h4>Popular Licenses</h4>
      <% @licenses.each do |license| %>
        <p>
          <%= link_to license.licenses, search_path(license: license.licenses, platform: @platform_name) %> - <%= license.count %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
