<% title "#{@platform_name} - Libraries" %>

<div class='row'>
  <div class='col-md-6'>
    <h1><%= @platform_name %></h1>
    <%= link_to @platform::URL, @platform::URL %>
  </div>
</div>
<hr>
<div class='row'>
  <% if @popular.any? %>
    <div class='col-md-4'>
      <h4>Popular <%= @platform_name %> Projects</h4>
      <% @popular.each do |project| %>
      <div class='project'>
        <strong><%= link_to project.name, project_path(project.to_param) %></strong>
        <small>
          - <%= number_with_delimiter project.github_repository.try(:stargazers_count) %> stars
        </small>
        <br />
        <%= truncate project.description, :length => 100 %>
        <br /><br />
      </div>
      <% end %>
      <p>
        <%= link_to 'See more &raquo;'.html_safe, search_path(platforms: @platform_name, sort: 'stars', order: 'desc') %>
      </p>
    </div>
  <% end %>

  <% if @updated.any? %>
  <div class='col-md-4'>
    <h4>Updated <%= @platform_name %> Projects</h4>
    <% @updated.each do |project| %>
    <div class='project'>
      <strong><%= link_to project.name, project_path(project.to_param) %></strong>
      <small>
        - Updated <%= time_ago_in_words project.updated_at %> ago
      </small>
      <br />
      <%= truncate project.description, :length => 100 %>
      <br /><br />
    </div>
    <% end %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(platforms: @platform_name, sort: 'updated_at', order: 'desc') %>
    </p>
  </div>
  <% end %>

  <% if @created.any? %>
  <div class='col-md-4'>
    <h4>New <%= @platform_name %> Projects</h4>
    <% @created.each do |project| %>
    <div class='project'>
      <strong><%= link_to project.name, project_path(project.to_param) %></strong>
      <small>
        - Published <%= time_ago_in_words project.updated_at %> ago
      </small>
      <br />
      <%= truncate project.description, :length => 100 %>
      <br /><br />
    </div>
    <% end %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(platforms: @platform_name, sort: 'created_at', order: 'desc') %>
    </p>
  </div>
  <% end %>
</div>

<div class='row'>
  <% if @licenses.any? %>
    <div class='col-md-4'>
      <h4>Popular <%= @platform_name %> Licenses</h4>
      <% @licenses.each do |license| %>
        <p>
          <%= link_to license.term, search_path(licenses: license.term, platforms: @platform_name) %>
          - <%= number_with_delimiter(license['count']) %> projects
        </p>
      <% end %>
    </div>
  <% end %>

  <% if @contributors.any? %>
    <div class='col-md-4'>
      <h4>Top <%= @platform_name %> Contributors</h4>
      <% @contributors.each do |user| %><%= link_to image_tag(user.avatar_url, width: 60, height: 60, alt: user), user_path(user) %><% end %>
    </div>
  <% end %>
</div>
