<%= render 'platform', platform: @platform %>
<hr>
<div class='row'>
  <div class='col-md-4'>
    <h4>Recently Added</h4>
    <%= render @added %>
  </div>

  <div class='col-md-4'>
    <h4>Recently Updated</h4>
    <%= render @updated %>
  </div>

  <div class='col-md-4'>
    <h4>Popular Licenses</h4>
    <% Project.platform(@platform_name).popular_licenses.each do |license| %>
      <p>
        <%= link_to license.licenses, search_path(license: license.licenses, platform: @platform_name) %> - <%= license.count %>
      </p>
    <% end %>
  </div>
</div>
