<% title "#{@platform_name} - Libraries" %>

<div class='row'>
  <div class='col-md-6'>
    <h1><%= @platform_name %></h1>
    <%= link_to @platform::URL, @platform::URL %>
  </div>
</div>
<hr>
<div class='row'>
  <% if @popular.any? %>
    <div class='col-md-4'>
      <h4>Popular <%= @platform_name %> Projects</h4>
      <%= render @popular %>
      <p>
        <%= link_to 'See more &raquo;'.html_safe, search_path(platforms: @platform_name, order: 'desc') %>
      </p>
    </div>
  <% end %>

  <% if @updated.any? %>
  <div class='col-md-4'>
    <h4>Updated <%= @platform_name %> Projects</h4>
    <%= render @updated %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(platforms: @platform_name, sort: 'updated_at', order: 'desc') %>
    </p>
  </div>
  <% end %>

  <% if @created.any? %>
  <div class='col-md-4'>
    <h4>New <%= @platform_name %> Projects</h4>
    <%= render @created %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(platforms: @platform_name, sort: 'created_at', order: 'desc') %>
    </p>
  </div>
  <% end %>
</div>
<hr>
<div class='row'>
  <% if @licenses.any? %>
    <div class='col-md-4'>
      <h4>Popular <%= @platform_name %> Licenses</h4>
      <%= render partial: 'licenses/list_license', collection: @licenses, as: :license %>
    </div>
  <% end %>

  <% if @languages.any? %>
  <div class='col-md-4'>
    <h4>Popular <%= @platform_name %> Languages</h4>
    <%= render partial: 'languages/list_language', collection: @languages, as: :language %>
  </div>
  <% end %>
</div>
