<%= render 'platform', platform: @platform %>
<hr>
<div class='row'>

  <% if @updated.any? %>
    <div class='col-md-4'>
      <h4>Recently Updated</h4>
      <%= render @updated %>
    </div>
  <% end %>

  <% if @licenses.any? %>
    <div class='col-md-4'>
      <h4>Popular Licenses</h4>
      <% @licenses.each do |license| %>
        <p>
          <%= link_to license.licenses, search_path(license: license.licenses, platform: @platform_name) %> - <%= license.count %>
        </p>
      <% end %>
    </div>
  <% end %>

  <div class='col-md-4'>
    <h4>Top Contributors</h4>
    <% GithubUser.top_for(@platform_name).each do |u| %>
      <% user = u[0] %>
      <p>
        <div>
          <%= image_tag user.avatar_url, width: 60, height: 60 %>
          <%= link_to user.login, user_path(user) %><br>
        </div>
      </p>
    <% end %>
  </div>
</div>
