<% title "Usage stats for #{@project} on #{@project.platform_name} - Libraries.io" %>
<% description "Required version breakdown across #{number_to_human(@total)} open source repositories that depend on #{@project} on #{@project.platform_name}" %>
<% content_for :meta, render_meta(@project) %>

<h1>
  <%= fa_icon 'bar-chart' %>
  Usage stats for <%= link_to @project, project_path(@project.to_param) %>
  on <%= link_to platform_name(@project.platform), platform_path(@project.platform) %>
</h1>

<p>
  Required version breakdown across <strong><%= number_to_human(@total) %></strong> open source repositories
</p>
<% if @all_counts.any? %>
  <% cache ['usage', @project.id, 'v3'], expires_in: usage_cache_length(@total).week, race_condition_ttl: 1.minute do %>
    <table id="q-graph">
        <tbody>
        <% max_height = 400 %>
          <% @counts.each_with_index do |(requirement, count), index| %>
            <% percentage = count.to_f/@total*100 %>

            <tr class="qtr" style='left:<%= index*60 %>px; <% if index == @counts.length - 1 && @all_counts.length == @counts.length %>border-right:none;<% end %>'>
                <th scope="row">
                  <% if requirement.length > 10 %>
                    <span class='tip' title='<%= requirement %>'><%= truncate(requirement, length: 10) %></span>
                  <% else %>
                    <%= requirement %>
                  <% end %>
                </th>
                <td class="bar" style='height:<%= (percentage/@highest_percentage.to_f*max_height).round %>px; background-color: <%= colours[index] %>;'>
                  <p>
                    <a href='<%= url_for(params.permit(:name, :platform).merge(requirements: requirement)) %>' class='tip' title="<%= number_to_human(count) %> <%= "repo".pluralize(count) %> specifies this version">
                      <%= percentage.round(2) %>%
                    </a>
                  </p>
                </td>
            </tr>
          <% end %>
          <% if @all_counts.length > @counts.length %>
            <% count = @total - @counts.sum{|_req, count| count } %>
            <% index = @counts.length %>
            <% percentage = count.to_f/@total*100 %>
            <tr class="qtr" style='left:<%= index*60 %>px; border-right:none;'>
                <th scope="row">
                  <span class='tip' title='All other lesser used requirements including <%= (@all_counts.map{|r,c| r } - @counts.map{|r,c| r }).first(20).join(', ') %>'>Other</span>
                </th>
                <td class="bar" style='height:<%= (percentage/@highest_percentage.to_f*max_height).round %>px; max-height: <%= max_height.round %>px; background-color: #ddd;'>
                  <p>
                      <%= percentage.round(2) %>%
                  </p>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <h4>
        Repositories that depend on <%= link_to @project, project_path(@project.to_param) %>
        <% if params[:requirements].present? %>
          <code><%= params[:requirements] %></code>
        <% end %>
      </h4>

      <%= render @repos, cache: true %>
      <%= will_paginate @repos, page_links: false %>
    </div>
    <div class="col-sm-4">
      <h4>
        <%= fa_icon 'link' %>
        Filter by requirement kind
      </h4>
      <ul class='filter'>
        <% @kinds.sort_by{|k,v| -v}.each do |kind, count| %>
          <% next unless kind.present? %>
          <% active = kind == params[:kind] %>
          <li class='<%= 'active' if active %>'>
            <% if active %>
              <%= link_to kind, url_for(params.permit(:name, :platform, :requirements).merge(kind: nil, page: nil)) %>
            <% else %>
              <%= link_to kind, url_for(params.permit(:name, :platform, :requirements).merge(kind: kind)) %>
              <small><%= number_to_human(count) %></small>
            <% end %>
          </li>
        <% end %>
      </ul>

      <h4>
        <%= fa_icon 'arrows-h' %>
        Filter by required version range
      </h4>
      <ul class='filter'>
        <% sort_by_semver_range(60).each do |requirements,count| %>
          <% next unless requirements.present? %>
          <% active = requirements == params[:requirements] %>
          <li class='<%= 'active' if active %>'>
            <% if active %>
              <%= link_to requirements, url_for(params.permit(:name, :platform, :kind).merge(requirements: nil, page: nil)) %>
            <% else %>
              <%= link_to requirements, url_for(params.permit(:name, :platform, :kind).merge(requirements: requirements)) %>
              <small><%= number_to_human(count) %></small>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  No dependent repositories found.
<% end %>
