<% title "Search - Libraries" %>

<div class='row'>
  <div class='col-md-8'>
    <h3>
      Search for <strong>"<%= params[:q] %>"</strong><br/>
      <small><%= page_entries_info @projects, model: 'projects' %></small>
    </h3>

    <% if @projects.any? %>
      <%= render @projects.records %>
      <%= will_paginate @projects, renderer: BootstrapPagination::Rails, page_links: false %>
    <% else %>
      <p>
        <% if params[:platforms].present? || params[:licenses].present? %>
          <%= link_to 'Try removing some filters.', search_path(q: params[:q]) %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class='col-md-4 facets'>
    <% @projects.response.facets.each do |name, facet| %>
      <% next if facet['terms'].empty? %>
      <h4><%= name.humanize %></h4>
      <ul>
        <% facet['terms'].each do |term| %>
          <% active = term['term'] == params[name.to_sym] %>
          <li class='<%= 'active' if active %>'>
            <% if active %>
              <%= link_to term['term'], url_for(params.merge(name.to_sym => nil)) %>
            <% else %>
              <%= link_to term['term'], url_for(params.merge(name.to_sym => term['term'])) %>
              - <%= number_with_delimiter term['count'] %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
