<% title "Search - Libraries" %>

<div class='row'>
  <div class='col-md-8'>
    <h3>
      <% if params[:license].present? %>
      <%= params[:license] %>
      <% end %>
      Projects
      <% if params[:platform].present? %>
      on <%= params[:platform] %>
      <% end %>
      <% if params[:q].present? %>
      matching "<%= params[:q] %>"
      <% end %>
    </h3>

    <% if @projects.any? %>
      <p>
        <%= page_entries_info @projects %>
      </p>
      <%= render @projects.records %>
      <%= will_paginate @projects, renderer: BootstrapPagination::Rails, page_links: false %>
      <%= page_entries_info @projects %>
    <% else %>
      <p>
        No projects found
      </p>
    <% end %>
  </div>

  <div class='col-md-4'>
    <% @projects.response.facets.each do |name, facet| %>
      <h4><%= name %></h4>
      <ul>
        <% facet['terms'].each do |term| %>
          <% active = term['term'] == params[name.to_sym] %>
          <li class='<%= 'active' if active %>'>
            <% if active %>
              <%= link_to term['term'], url_for(params.merge(name.to_sym => nil)) %>
            <% else %>
              <%= link_to term['term'], url_for(params.merge(name.to_sym => term['term'])) %>
            <% end %>
            - <%= term['count'] %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
