<% if params[:q].present? %>
  <% page_title = "Search for #{params[:q]}" %>
<% else %>
  <% page_title = "Search" %>
<% end %>

<% title "#{page_title} - Libraries" %>

<div class="row">
  <div class='col-md-8'>
    <%= form_tag search_path, method: :get, class: 'search-form', enforce_utf8: false do |f| %>
      <%= text_field_tag 'q', params[:q], placeholder: 'Search..', class: 'form-control' %>
    <% end %>
  </div>
  <div class='col-md-4'>
    <h3>
      <small><%= page_entries_info @search, model: 'projects' %></small>
    </h3>
  </div>
</div>
<div class='row'>
  <div class='col-md-8'>
    <% if @projects.any? %>
      <%= render @projects %>
      <%= will_paginate @search, renderer: BootstrapPagination::Rails, page_links: false %>
    <% else %>
      <p>
        <% if params[:platforms].present? || params[:licenses].present? ||  params[:languages].present? ||  params[:keywords].present? %>
          <%= link_to 'Try removing some filters.', search_path(q: params[:q]) %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class='col-md-4 facets'>
    <% @search.response.facets.each do |name, facet| %>
      <% next if facet['terms'].empty? %>
      <h4><%= name.humanize %></h4>
      <ul>
        <% facet['terms'].each do |term| %>
          <% active = term['term'] == params[name.to_sym] %>
          <li class='<%= 'active' if active %>'>
            <% if active %>
              <%= link_to term['term'], url_for(params.merge(name.to_sym => nil)) %>
            <% else %>
              <%= link_to term['term'], url_for(params.merge(name.to_sym => term['term'])) %>
              <small><%= number_with_delimiter term['count'] %></small>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
