<% title "Search - Libraries" %>

<div class='row'>
  <div class='col-md-8'>
    <h3>
      <% if params[:license].present? %>
      <%= params[:license] %>
      <% end %>
      Projects
      <% if params[:platform].present? %>
      on <%= params[:platform] %>
      <% end %>
      <% if params[:q].present? %>
      matching "<%= params[:q] %>"
      <% end %>
    </h3>

    <% if @projects.any? %>
      <%= render @projects %>
      <%= will_paginate @projects, renderer: BootstrapPagination::Rails, page_links: false %>
    <% else %>
      <p>
        No projects found
      </p>
    <% end %>
  </div>

  <div class='col-md-4'>
    <h4>Platforms</h4>
    <% @platforms.each do |platform| %>
      <%= link_to platform, url_for(params.merge(platform: platform)) %><br>
    <% end %>

    <h4>Licenses</h4>
    <% @licenses.each do |license| %>
      <%= link_to license.licenses, url_for(params.merge(license: license.licenses)) %><br>
    <% end %>
  </div>
</div>
