<% title @title %>
<% content_for :atom, auto_discovery_link_tag(:atom, url_for(search_params.merge({format: "atom"}))) %>
<%= form_tag search_path, method: :get, class: 'search-form', enforce_utf8: false do |f| %>
  <div class="row">
    <div class='col-sm-8'>
      <div class="input-group input-group-lg">
        <%= text_field_tag 'q', "#{@query || '' }", placeholder: 'Search...', class: 'form-control', size: 40 %>
        <span class="input-group-btn">
          <button class="btn btn-primary btn-large" type="submit"><%= fa_icon 'search' %></button>
        </span>
      </div>

      <% [:platforms, :licenses, :languages, :keywords, :sort].each do |field| %>
        <%= hidden_field_tag field, params[field] if params[field].present? %>
      <% end %>
      <% if @suggestion && @suggestion.options.any? %>
        <p>
          Did you mean
          <strong><%= link_to "#{@suggestion.options.first.text}?", search_path(q: @suggestion.options.first.text) %></strong>
        </p>
      <% end %>
    </div>
    <div class='col-sm-4 hidden-xs'>
      <h3>
        <small>Sort by: <%= select_tag 'sort', options_for_select(sort_options, params[:sort]), onchange: "this.form.submit()" %></small>
      </h3>
    </div>
  </div>
<% end %>
<div class='row'>
  <div class='col-sm-8'>
    <%= render 'adsense/banner' %>
    <% if @projects.length > 0 %>
      <%= render @projects, cache: true %>
      <%= will_paginate @search, page_links: false %>
      <p>
        <small>
          <%= page_entries_info @search, model: 'project' %>
          -
          <%= link_to url_for(params.except(:host).merge(format: :atom, sort: 'created_at', order: 'desc').permit!), class: 'rss' do %>
            <%= fa_icon "rss-square" %>
            Subscribe to an RSS feed of this search
          <% end %>
        </small>
      </p>
    <% else %>
      <p>
        No projects found.
      </p>
      <p>
        <% if params[:platforms].present? || params[:licenses].present? ||  params[:languages].present? ||  params[:keywords].present? %>
          <%= link_to 'Try removing some filters.', search_path(q: params[:q]) %>
        <% else %>
          Can't find what you're looking for?
          <%= link_to 'Report it as a bug', "https://github.com/librariesio/libraries.io/issues/new?title=No results for search '#{params[:q]}'" %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class='col-sm-4 facets'>
    <%= render 'adsense/sidebar' %>
    <% @facets.each do |name, facet| %>
      <% facet = facet[facet.keys.last] %>
      <% next if facet.buckets.nil? || facet.buckets.empty? %>
      <%= render 'search/facet', name: name, facet: facet %>
    <% end %>
  </div>
</div>
