<% repository = issue.repository %>
<div class='project' style="border-color: <%= repository.color %>;">
  <h5>
    <%= link_to emojify(truncate(issue.title, :length => 100)), issue.url %>
    <small>
      <%= link_to repository.full_name, repository_path(repository.to_param) %>
      <%= fa_icon("lock") if repository.private? %>
      <%= fa_icon("code-fork") if repository.fork? %>
    </small>
  </h5>

  <p>
    <%= emojify truncate(issue.body, :length => 200) %>
  </p>

  <p>
    <small>
      <%= fa_icon issue.host_type.try(:downcase) %>
      Created <%= timeago_tag issue.created_at %>
      - <%= pluralize(issue.comments_count, 'comment') %>
      <% if issue.labels.any? %>
        -
        <% issue.labels.each do |label| %>
          <%= link_to label, issue.label_url(label), class: 'label label-info label-pill'%>
        <% end %>
      <% end %>
    </small>
  </p>
</div>
