<div class="row">
  <div class="col-md-12">
    <h1>API Docs</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3 id='authentication'>Authentication</h3>

    <p>
      All API requests must include <code>api_key</code> parameter, get your api key from your
      <%= link_to 'account page', account_path %>, all examples on this page include your API key
    </p>

    <h3 id='project'>Project</h3>

    <p>
      Get information about a project and it's versions.
    </p>

    <p>
      <code>GET https://libraries.io/api/:platform/:name?api_key=<%= current_user.api_key %></code>
    </p>
    <hr>
    <p>
      Example: <strong> <%= link_to "https://libraries.io/api/npm/grunt?api_key=#{current_user.api_key}", "https://libraries.io/api/npm/grunt?api_key=#{current_user.api_key}" %> </strong>
    </p>
      <pre>
<%= JSON.pretty_generate @project.as_json(only: [:name, :platform, :description, :language, :homepage, :repository_url,  :normalized_licenses], include: {versions: {only: [:number, :published_at]} }) %></pre>

    <h3 id='project-dependencies'>Project Dependencies</h3>

    <p>
      Get a list of dependencies for a version of a project, pass <code>latest</code> to get dependency info for the latest available version
    </p>

    <p>
      <code>GET https://libraries.io/api/:platform/:name/:version/dependencies?api_key=<%= current_user.api_key %></code>
    </p>
    <hr>
    <p>
      Example: <strong> <%= link_to "https://libraries.io/api/npm/grunt/latest/dependencies?api_key=#{current_user.api_key}", "https://libraries.io/api/rubygems/rails/4.2.4/dependencies?api_key=#{current_user.api_key}" %> </strong>
    </p>
      <pre>
<%= JSON.pretty_generate @dependencies %></pre>

    <h3 id="project-dependents">Project Dependents</h3>

    <p>
      Get projects that have at least one version that depends on a given project.
    </p>

    <p>
      Pagination parameter: <code>page</code>
    </p>

    <p>
      <code>GET https://libraries.io/api/:platform/:name/dependents?api_key=<%= current_user.api_key %></code>
    </p>
    <hr>
    <p>
      Example: <strong> <%= link_to "https://libraries.io/api/npm/grunt/dependents?api_key=#{current_user.api_key}", "https://libraries.io/api/npm/grunt/dependents?api_key=#{current_user.api_key}" %> </strong>
    </p>
      <pre>
<%= JSON.pretty_generate @project.dependent_projects.paginate(page: params[:page]).as_json(only: [:name, :platform, :description, :language, :homepage, :repository_url,  :normalized_licenses], include: {versions: {only: [:number, :published_at]} }) %></pre>

    <h3 id="project-dependent-repositories">Project Dependent Repositories</h3>

    <p>
      Get github repositories that depend on a given project.
    </p>

    <p>
      Pagination parameter: <code>page</code>
    </p>

    <p>
      <code>GET https://libraries.io/api/:platform/:name/dependent_repositories?api_key=<%= current_user.api_key %></code>
    </p>
    <hr>
    <p>
      Example: <strong> <%= link_to "https://libraries.io/api/npm/grunt/dependent_repositories?api_key=#{current_user.api_key}", "https://libraries.io/api/npm/grunt/dependent_repositories?api_key=#{current_user.api_key}" %> </strong>
    </p>
      <pre>
<%= JSON.pretty_generate @project.dependent_repositories.paginate(page: params[:page]).as_json(except: [:id, :github_organisation_id, :owner_id]) %></pre>


    <h3 id="project-search">Project Search</h3>

    <p>
      TODO
    </p>

    <h3 id='github-repository'>GitHub Repository</h3>

    <p>
      Get a info for a GitHub repository. Currently only works for open source repositories.
    </p>
    <p>
      <code>GET https://libraries.io/api/github/:owner/:name?api_key=<%= current_user.api_key %></code>
    </p>
    <hr>
    <p>
      Example: <strong> <%= link_to "https://libraries.io/api/github/#{@github_repository.full_name}?api_key=#{current_user.api_key}", "https://libraries.io/api/github/#{@github_repository.full_name}?api_key=#{current_user.api_key}" %> </strong>
    </p>
      <pre>
<%= JSON.pretty_generate @github_repository.as_json({except: [:id, :github_organisation_id, :owner_id]}) %></pre>

    <h3 id='github-repository-dependencies'>GitHub Repository Dependencies</h3>

    <p>
      Get a list of dependencies for a GitHub repositories. Currently only works for open source repositories.
    </p>
    <p>
      <code>GET https://libraries.io/api/:platform/:name/:version/dependencies?api_key=<%= current_user.api_key %></code>
    </p>
    <hr>
    <p>
      Example: <strong> <%= link_to "https://libraries.io/api/github/#{@github_repository.full_name}/dependencies?api_key=#{current_user.api_key}", "https://libraries.io/api/github/#{@github_repository.full_name}/dependencies?api_key=#{current_user.api_key}" %> </strong>
    </p>

      <pre>
<%= JSON.pretty_generate @repo_dependencies %></pre>

    <h3 id="github-repository-projects">GitHub Repository Projects</h3>

    <p>
      TODO
    </p>

  </div>
  <div class="col-md-4">
    <h3>API Methods</h3>
    <ul style="position:fixed">
      <li><a href="#authentication">Authentication</a></li>
      <li><a href="#project">Project</a></li>
      <li><a href="#project-dependencies">Project Dependencies</a></li>
      <li><a href="#project-dependents">Project Dependents</a></li>
      <li><a href="#project-dependent-repositories">Project Dependent Repositories</a></li>
      <li><a href="#project-search">Project Search</a></li>
      <li><a href="#github-repository">GitHub Repository</a></li>
      <li><a href="#github-repository-dependencies">GitHub Repository Dependencies</a></li>
      <li><a href="#github-repository-projects">GitHub Repository Projects</a></li>
    </ul>
  </div>
</div>
