<div class="row">
  <br>
  <ul class="nav nav-tabs">
    <li role="presentation" class="<%= cp('/admin') %>"><a href="/admin">Overview</a></li>
    <li role="presentation" class="<%= cp('/admin/stats') %>"><a href="/admin/stats">Stats</a></li>
    <li role="presentation" class="<%= cp('/admin/stats/api') %>"><a href="/admin/stats/api">API</a></li>
    <li role="presentation" class="<%= cp('/admin/stats/repositories') %>"><a href="/admin/stats/repositories">Repo Stats</a></li>
    <li role="presentation" class="<%= cp('/admin/project_suggestions') %>">
      <a href="/admin/project_suggestions">
        Suggestions
        <% count = ProjectSuggestion.all.joins(:project).reject(&:done?).length %>
        <% if count > 0 %>
          <span class="badge"><%= count %></span>
        <% end %>
      </a>
    </li>
    <li role="presentation" class="<%= cp('/admin/projects/deprecated') %>"><a href="/admin/projects/deprecated">Deprecated</a></li>
    <li role="presentation" class="<%= cp('/admin/projects/unmaintained') %>"><a href="/admin/projects/unmaintained">Unmaintained</a></li>
    <li role="presentation" class="<%= cp('/admin/repositories/deprecated') %>"><a href="/admin/repositories/deprecated">Deprecated Repos</a></li>
    <li role="presentation" class="<%= cp('/admin/repositories/unmaintained') %>"><a href="/admin/repositories/unmaintained">Unmaintained Repos</a></li>
  </ul>
</div>
