<%= link_to 'Delete', admin_project_suggestion_path(project_suggestion), method: :delete, class: 'btn btn-danger pull-right'  %>
<h3>
  <%= link_to project_suggestion.project, project_path(project_suggestion.project.to_param) %>
  <small>
    By <%= link_to project_suggestion.user, user_path(project_suggestion.user.nickname) %>
    <%= time_ago_in_words project_suggestion.created_at %> ago
  </small>
</h3>
<% if project_suggestion.repository_url.present? && project_suggestion.repository_url != project_suggestion.project.repository_url %>
  <p>
    <strong>repository_url</strong>: <%= project_suggestion.repository_url %>
  </p>
<% end %>
<% if project_suggestion.licenses.present? && project_suggestion.licenses != project_suggestion.project.licenses %>
  <p>
    <strong>license</strong>: <%= project_suggestion.licenses %>
  </p>
<% end %>
<% if project_suggestion.status.present? && project_suggestion.status.present? && project_suggestion.status != project_suggestion.project.status %>
  <p>
    <strong>status</strong>: <%= project_suggestion.status %>
  </p>
<% end %>
<p>
  <strong>notes</strong>: <%= project_suggestion.notes %>
</p>
<hr>
