<% title "#{@language} - Libraries" %>

<h1><%= @language %></h1>
<hr>
<div class='row'>
  <% if @popular.any? %>
  <div class='col-md-4'>
    <h4>Popular <%= @language %> Projects</h4>
    <%= render @popular %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(languages: @language, sort: 'stars', order: 'desc') %>
    </p>
  </div>
  <% end %>

  <% if @updated.any? %>
  <div class='col-md-4'>
    <h4>Updated <%= @language %> Projects</h4>
    <%= render @updated %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(languages: @language, sort: 'updated_at', order: 'desc') %>
    </p>
  </div>
  <% end %>

  <% if @created.any? %>
  <div class='col-md-4'>
    <h4>New <%= @language %> Projects</h4>
    <%= render @created %>
    <p>
      <%= link_to 'See more &raquo;'.html_safe, search_path(languages: @language, sort: 'created_at', order: 'desc') %>
    </p>
  </div>
  <% end %>
</div>

<div class='row'>
  <% if @licenses.any? %>
  <div class='col-md-4'>
    <h4>Popular <%= @language %> Licenses</h4>
    <%= render partial: 'licenses/list_license', collection: @licenses, as: :license %>
  </div>
  <% end %>

  <% if @platforms.length > 1 %>
  <div class='col-md-4'>
    <h4>Popular <%= @language %> Platforms</h4>
    <%= render partial: 'platforms/list_platform', collection: @platforms, as: :platform %>
  </div>
  <% end %>
</div>
