<% title "#{@user} on GitHub - Libraries" %>
<% description "Github repositories owned and contributed by #{@user}" %>
<h1>
  <%= image_tag @user.avatar_url, width: 60, height: 60, alt: @user %>
  <%= @user %>
</h1>
<%= link_to @user.github_url, @user.github_url %>
<hr>
<div class="row">
  <% if @user.github_repositories.any? %>
    <div class="col-md-6">
      <h4>Repositories</h4>
      <%= render @repositories %>
      <% if @user.github_repositories.count > 10 %>
        <%= link_to "See all #{@user}'s repositories", user_repositories_path(@user) %>
      <% end %>
    </div>
  <% end %>
  <% if @contributions.any? %>
    <div class="col-md-6">
      <h4>Contributed to</h4>
      <%= render @contributions.map(&:github_repository)  %>
      <% if @user.github_contributions.with_repo.count > 10 %>
        <%= link_to "See all #{@user}'s contributions", user_contributions_path(@user) %>
      <% end %>
    </div>
  <% end %>
</div>
