<% title "#{@user} on Github - Libraries" %>
<div class='row'>
  <div class='col-md-6'>
    <h1>
      <%= image_tag @user.avatar_url, width: 60, height: 60 %>
      <%= @user %>
    </h1>
    <%= link_to @user.github_url, @user.github_url %>
  </div>
</div>
<hr>
<h3>Contributions</h3>
<% @contributions.each do |contribution| %>
  <% next unless contribution.github_repository %>
  <% project = contribution.github_repository.projects.first %>
  <% next unless project %>
  <div>
    <%= image_tag contribution.github_repository.avatar_url(60), width: 60, height: 60 %>
    <%= link_to project, project_path(project.to_param) %> - <%= project.platform %> - <%= link_to pluralize(contribution.count, 'contributions'), contribution.github_url %>
  </div>
<% end %>
