<% title "#{@user} on GitHub - Libraries" %>
<% description "Github repositories owned and contributed by #{@user}" %>
<div class="row">
  <div class="col-md-6">
    <h1>
      <%= image_tag @user.avatar_url, width: 60, height: 60, alt: @user %>
      <%= @user %>
      <% if @user.name.present? %>
        <small>
          <%= @user.login %>
        </small>
      <% end %>
    </h1>
    <p>
      <%= link_to @user.github_url, @user.github_url %>
    </p>
  </div>
  <div class="col-md-6">
    <br>
    <% if @user.blog.present? %>
      <p>
        Homepage: <%= link_to @user.blog, sanitize_url(@user.blog) %>
      </p>
    <% end %>
    <% if @user.company.present? %>
      <p>
        Company: <%= @user.company %>
      </p>
    <% end %>
    <% if @user.location.present? %>
      <p>
        Location: <%= link_to @user.location, "http://maps.google.com/?q=#{@user.location}" %>
      </p>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <% if @user.github_repositories.any? %>
    <div class="col-md-6">
      <h4>Repositories</h4>
      <%= render @repositories %>
      <% if @user.github_repositories.count > 10 %>
        <%= link_to "See all #{@user}'s repositories", user_repositories_path(@user) %>
      <% end %>
    </div>
  <% end %>
  <% if @contributions.any? %>
    <div class="col-md-6">
      <h4>Contributed to</h4>
      <%= render @contributions.map(&:github_repository)  %>
      <% if @user.github_contributions.with_repo.count > 10 %>
        <%= link_to "See all #{@user}'s contributions", user_contributions_path(@user) %>
      <% end %>
    </div>
  <% end %>
</div>
