<% title "#{github_user_title(@user)} on GitHub - Libraries" %>
<% description "GitHub repositories created and contributed to by #{github_user_title(@user)}" %>
<%= content_for :meta, render_meta(@user) %>
<% cache([@user, 'users:show', 'v3'], :expires_in => 1.week) do %>
<div class="row">
  <div class="col-md-6">
    <h1>
      <%= image_tag @user.avatar_url(100), width: 50, height: 50, alt: @user %>
      <%= @user %>
      <%= link_to fa_icon('github'), @user.github_url, class: 'tip', title: "View #{@user.login} on GitHub" %>
    </h1>
    <% if @user.org? %>
      <% if @user.description.present? %>
        <p>
          <%= @user.description %>
        </p>
      <% end %>
    <% else %>
      <% count = @user.open_source_contributions.count %>
      <% if count > 0 %>
        <p>
          <%= fa_icon 'code' %>
          Tracking <%= number_to_human @user.open_source_contributions.sum(:count) %> commits to <%= number_to_human count %> open source projects
        </p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <br>
    <% if @user.blog.present? %>
      <p>
        Homepage: <%= link_to @user.blog, sanitize_url(@user.blog) %>
      </p>
    <% end %>
    <% if @user.company.present? %>
      <p>
        Company: <%= @user.company %>
      </p>
    <% end %>
    <% if @user.location.present? %>
      <p>
        Location: <%= link_to @user.location, "http://maps.google.com/?q=#{@user.location}" %>
      </p>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-8">
    <div class="row">
      <% if @repositories.length > 0 %>
        <div class="col-md-6 user-column">
          <h4>Repositories</h4>
          <%= render @repositories %>
          <%= link_to "See all #{@user}'s repositories", user_repositories_path(@user) %>
        </div>
      <% end %>
      <% if @contributions.length > 0 %>
        <div class="col-md-6 user-column">
          <h4>Repositories Contributed To</h4>
          <%= render @contributions.map(&:github_repository)  %>
          <%= link_to "See all #{@user}'s contributions", user_contributions_path(@user) %>
        </div>
      <% end %>
      <% if @projects.length > 0 %>
        <div class="col-md-6 user-column">
          <h4>Published Projects</h4>
          <%= render @projects %>
          <%= link_to "See all #{@user}'s projects", user_projects_path(@user) %>
        </div>
      <% end %>
      <% if @favourite_projects.length > 0 %>
        <div class="col-md-6 user-column">
          <h4>Most Used Projects</h4>
          <%= render @favourite_projects %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <% if @user.org? %>
      <% if @user.top_contributors.any?  %>
        <h4>Top Contributors</h4>
        <%= render @user.top_contributors %>
      <% end %>
    <% else %>
      <h4>Related Users</h4>
      <% cache("users:#{@user.id}:similar", :expires_in => 1.week) do  %>
        <%= render @user.fellow_contributors.visible.limit(40) %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
