<% title "#{github_user_title(@user)} on GitHub - Libraries" %>
<% description "GitHub repositories created and contributed to by #{github_user_title(@user)}" %>
<div class="row">
  <div class="col-md-6">
    <h1>
      <%= image_tag @user.avatar_url, width: 60, height: 60, alt: @user %>
      <%= @user %>
      <% if @user.name.present? %>
        <small>
          <%= link_to @user.login, @user.github_url %>
        </small>
      <% end %>
    </h1>
    <% if @user.description.present? %>
      <p>
        <%= @user.description %>
      </p>
    <% end %>
    <p>
      <%= link_to @user.github_url, @user.github_url %>
    </p>
  </div>
  <div class="col-md-6">
    <% if logged_in? && current_user.admin? %>
      <%= link_to 'Sync', sync_admin_user_path(@user), class: 'btn btn-danger pull-right', method: :post %>
    <% end %>
    <br>
    <% if @user.blog.present? %>
      <p>
        Homepage: <%= link_to @user.blog, sanitize_url(@user.blog) %>
      </p>
    <% end %>
    <% if @user.company.present? %>
      <p>
        Company: <%= @user.company %>
      </p>
    <% end %>
    <% if @user.location.present? %>
      <p>
        Location: <%= link_to @user.location, "http://maps.google.com/?q=#{@user.location}" %>
      </p>
    <% end %>
  </div>
</div>

<hr>
<div class="row">
  <% if @repositories.any? %>
    <div class="col-md-4">
      <h4>Repositories</h4>
      <%= render @repositories %>
      <% if @user.github_repositories.count > 10 %>
        <%= link_to "See all #{@user}'s repositories", user_repositories_path(@user) %>
      <% end %>
    </div>
  <% end %>
  <% if @contributions.any? %>
    <div class="col-md-4">
      <h4>Repositories Contributed To</h4>
      <%= render @contributions.map(&:github_repository)  %>
      <% if @user.github_contributions.with_repo.count > 10 %>
        <%= link_to "See all #{@user}'s contributions", user_contributions_path(@user) %>
      <% end %>
    </div>
  <% end %>
  <% if @favourite_projects.any? %>
    <div class="col-md-4">
      <h4>Most Used Projects</h4>
      <%= render @favourite_projects %>
    </div>
  <% end %>
  <% if @user.org? %>
    <div class="col-md-4">
      <h4>Top Contributors</h4>
      <%= render @user.contributors.visible.limit(50) %>
    </div>
  <% end %>
</div>

<% if !@user.org? %>
  <div class="row">
    <div class="col-md-12">
      <h4>People <%= @user %> often collaborates with</h4>
      <% cache("users:#{@user.id}:similar", :expires_in => 1.week) do  %>
        <%= render @user.fellow_contributors.visible.limit(38) %>
      <% end %>
    </div>
  </div>
<% end %>
