<% title "#{@user} on Github - Libraries" %>
<div class='row'>
  <div class='col-md-6'>
    <h1>
      <%= image_tag @user.avatar_url, width: 60, height: 60, alt: @user %>
      <%= @user %>
    </h1>
    <%= link_to @user.github_url, @user.github_url %>
  </div>
</div>
<hr>
<div class="row">
  <% if @user.repositories.any? %>
    <div class="col-md-6">
      <h3>Projects</h3>
      <ul>
        <% @repositories.each do |github_repository| %>
          <% github_repository.projects.each do |project| %>
            <li class='project'>
              <strong><%= link_to project.name, project_path(project.to_param) %></strong>
              <small><%= link_to project.platform, platform_path(project.platform.downcase) %>
                <% if project.normalized_licenses.present? %>
                - <%= linked_licenses project.normalized_licenses %>
                <% end %>
              </small><br>
              <%= truncate project.description, :length => 100 %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @contributions.any? %>
    <div class="col-md-6">
      <h3>Contributions</h3>
      <ul>
        <% @contributions.each do |contribution| %>
          <% github_repository = contribution.github_repository %>
          <% github_repository.projects.each do |project| %>
            <li class='project'>
              <strong><%= link_to project.name, project_path(project.to_param) %></strong>
              <small><%= link_to project.platform, platform_path(project.platform.downcase) %>
                - <%= link_to pluralize(contribution.count, 'contributions'), contribution.github_url %>
              </small><br>
              <%= truncate project.description, :length => 100 %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
