<% title "#{@user} on Github - Libraries" %>

<h1>
  <%= image_tag @user.avatar_url, width: 60, height: 60, alt: @user %>
  <%= @user %>
</h1>
<%= link_to @user.github_url, @user.github_url %>
<hr>
<div class="row">
  <% if @user.repositories.any? %>
    <div class="col-md-6">
      <h4>Projects</h4>
        <% @repositories.each do |github_repository| %>
          <%= render github_repository.projects %>
        <% end %>
    </div>
  <% end %>
  <% if @contributions.any? %>
    <div class="col-md-6">
      <h4>Contributions</h4>
      <% @contributions.each do |contribution| %>
        <% github_repository = contribution.github_repository %>
        <%= render github_repository.projects %>
      <% end %>
    </div>
  <% end %>
</div>
