<% if ENV['READ_ONLY'].present? %>
  <div class='alert alert-danger'>
    The site is in <strong>read-only</strong> mode whilst we perform some maintainence, you won't be able to log in at this time. See our <a href="https://twitter.com/librariesio">Twitter Account</a> for updates.
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= fa_icon 'info-circle' %>
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= fa_icon 'exclamation-triangle' %>
        <%= flash[:error] %>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= fa_icon 'check-circle' %>
        <%= flash[:success] %>
      </div>
    </div>
  </div>
<% end %>

<% if flash.empty? %>
  <div class="alert alert-info hidden-xs" role="alert" style="background-color: #F6914D; border-color: #F6914D; color: white;">
    <%= render :file => tidelift_flash_partial %>
  </div>
<% end %>
