<% title "GitHub Repositories - Libraries" %>
<% description "Explore popular GitHub Repositories on Libraries.io" %>

<div class='row'>
  <div class='col-md-12'>
    <h1>GitHub <%= @title %></h1>
  </div>
</div>
<hr>
<div class="col-md-8">
  <div class='row'>
    <% if @popular.any? %>
      <div class='col-md-6'>
        <h4>
          Most Starred <%= @title %>
        </h4>
        <%= render @popular %>
      </div>
    <% end %>
    <% if @forked.any? %>
      <div class='col-md-6'>
        <h4>
          Most Forked <%= @title %>
        </h4>
        <%= render @forked %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class='row'>
    <% if @created.any? %>
    <div class='col-md-6'>
      <h4>
        New <%= @title %>
      </h4>
      <%= render @created %>
    </div>
    <% end %>
    <% if @updated.any? %>
    <div class='col-md-6'>
      <h4>
        Recently Pushed <%= @title %>
      </h4>
      <%= render @updated %>
    </div>
    <% end %>
  </div>
</div>
<div class="col-md-4">
  <div class='row'>
    <% if @languages.any? %>
      <div class='col-md-12'>
        <h4>Popular Languages</h4>
        <% @languages.each do |language| %>
          <p class='list <%= 'active' if language[0].downcase == params[:language].try(:downcase) %>'>
            <% if language[0].downcase == params[:language].try(:downcase) %>
              <%= link_to format_language(language[0]), github_path(language: nil, license: params[:license]) %>
            <% else %>
              <%= link_to format_language(language[0]), github_path(language: format_language(language[0]), license: params[:license]) %>
              <small><%= pluralize number_to_human(language[1]), 'repos' %></small>
            <% end %>
          </p>
        <% end %>
      </div>
    <% end %>
    <% if @licenses.any? %>
      <div class='col-md-12'>
        <h4>Popular Licenses</h4>
        <% @licenses.each do |license| %>
          <p class='list <%= 'active' if license[0].downcase == params[:license].try(:downcase) %>'>
            <% if license[0].downcase == params[:license].try(:downcase) %>
              <%= link_to format_license(license[0]), github_path(language: params[:language], license: nil) %>
            <% else %>
            <%= link_to format_license(license[0]), github_path(license: format_license(license[0]), language: params[:language]) %>
            <small><%= pluralize number_to_human(license[1]), 'repos' %></small>
            <% end %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
