<% title "#{@github_repository.full_name} on GitHub - Libraries" %>
<% description @github_repository.description %>
<% repo = @github_repository %>
<div class="row">
  <div class='col-md-8'>
    <h1>
      <%= link_to image_tag(repo.avatar_url, width: 30, height: 30, alt: repo), user_path(repo.owner_name) %>
      <%= link_to repo, repo.url %>
    </h1>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-md-8'>
    <p>
      <%= repo.description %>
    </p>
    <% if repo.homepage.present? %>
      <p>
        <%= link_to repo.homepage, sanitize_url(repo.homepage) %>
      </p>
    <% end %>
    <% if repo.license.present? %>
      <p>
        License: <%= link_to format_license(repo.license), license_path(repo.license) %>
      </p>
    <% end %>
    <% if repo.fork %>
    <p>
      Fork of <%= link_to repo.source_name, repo.source_url %>
    </p>
    <% end %>
    <% if repo.language.present? %>
    <p>
      Language: <%= link_to repo.language, language_path(repo.language) %>
    </p>
    <% end %>
    <p>
      Created: <%= repo.created_at.to_s(:long) %>
    </p>
    <p>
      Last updated: <%= repo.updated_at.to_s(:long) %>
    </p>
    <% if repo.pushed_at.present? %>
    <p>
      Last pushed: <%= repo.pushed_at.to_s(:long) %>
    </p>
    <% end %>
    <p>
      Size: <%= number_to_human_size repo.size*1000 %>
    </p>
    <p>
      Stars: <%= link_to number_with_delimiter(repo.stargazers_count), repo.stargazers_url %>
    </p>
    <p>
      Forks: <%= link_to number_with_delimiter(repo.forks_count), repo.forks_url %>
    </p>
    <p>
      Watchers: <%= link_to number_with_delimiter(repo.subscribers_count), repo.watchers_url %>
    </p>
    <p>
      Open issues: <%= repo.has_issues? ? link_to(number_with_delimiter(repo.open_issues_count), repo.issues_url) : 'disabled'  %>
    </p>
    <% if repo.mirror_url.present? %>
    <p>
      Mirror of <%= repo.mirror_url %>
    </p>
    <% end %>
    <% if repo.readme.present? %>
      <hr>
      <%== repo.readme %>
    <% end %>

    <% if repo.manifests.any? %>
      <hr>
      <h4>Dependencies</h4>
      <% repo.manifests.each do |manifest| %>
        <h5><%= link_to manifest.path, manifest.github_link %></h5>
        <ul>
          <% manifest.repository_dependencies.order(:project_name).each do |dependency| %>
            <li>
              <%= link_to dependency.project_name, project_path(name: dependency.project_name, platform: dependency.platform.downcase) %>
              <%= dependency.requirements %>
            </li>
          <% end %>
        </ul>


      <% end %>
    <% end %>
  </div>
  <div class='col-md-4'>
    <% if @contributors.any? %>
      <h4>Top Contributors</h4>
      <%= render @contributors.map(&:github_user).reject(&:hidden) %>
    <% end %>

    <% if @projects.any? %>
      <div class="row"></div>
      <hr>
      <h4>Projects Referencing this Repo</h4>
      <%= render @projects %>
    <% end %>

    <% if repo.github_tags.any? %>
      <hr>
      <h4>Tags</h4>
      <ul>
        <% repo.github_tags.to_a.sort.each do |tag| %>
          <li>
            <%= link_to tag, tag.github_url %>
            <% if tag.published_at.present? %>
            - <%= tag.published_at.to_s(:long) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
