<h1>Popular projects without repo links</h1>
<%= page_entries_info @projects %>
<div class="row">
  <div class="col-md-8">
    <%= render collection: @projects, partial: 'projects/project' %>
    <%= will_paginate @projects, renderer: BootstrapPagination::Rails, page_links: false %>
  </div>
  <div class="col-md-4">
    <h3>
      <strong>
        Filter by platform
      </strong>
    </h3>
    <div class="facets">
      <ul class='filter'>
        <% @platforms.each do |platform| %>
          <li class='<%= 'active' if platform.downcase == params[:platform].try(:downcase) %>'>
            <% if platform.downcase == params[:platform].try(:downcase) %>
              <%= link_to platform, url_for(params.merge(platform: nil)) %>
            <% else %>
              <%= link_to platform, url_for(params.merge(platform: platform)) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
