<div class="row">
  <%= simple_form_for(@project, url: admin_project_path(@project.id), html: { class: 'form-vertical col-md-6' }) do |form| %>
    <h1>Admin</h1>
    <h2><%= @project.platform_name %> - <%= link_to @project, project_path(@project.to_param) %> </h2>
    <p>
      <strong>Rank:</strong> <%= @project.rank %>
    </p>

    <%= form.input :repository_url %>
    <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>
