<table class="table table-hover table-striped" id='matrix'>
  <thead>
    <th>
      Platform
    </th>
    <th class='text-center'>
      Number of Packages
    </th>
    <th class='text-center'>
      Versions
    </th>
    <th class='text-center'>
      Git Tags
    </th>
    <th class='text-center'>
      Dependencies
    </th>
    <th class='text-center'>
      Manifest Parsing
    </th>
    <th class='text-center'>
      Security Notifications
    </th>
    <th class='text-center'>
      License checking
    </th>
  </thead>
  <% PackageManager::Base.platforms.sort_by{|p| p.formatted_name.downcase }.each do |platform| %>
    <tr>
      <td>
        <div class="pictogram pictogram-<%= platform.formatted_name.downcase %>"></div>
        <strong><%= link_to platform.formatted_name, platform_path(platform.formatted_name.downcase) %></strong>
      </td>
      <td class='text-center'>
        <%= number_with_delimiter Project.platform(platform.formatted_name).count %>
      </td>
      <td class='text-center'>
        <%= feature_flag platform::HAS_VERSIONS %>
      </td>
      <td class='text-center'>
        <%= feature_flag !platform::HAS_VERSIONS %>
      </td>
      <td class='text-center'>
        <%= feature_flag platform::HAS_DEPENDENCIES %>
      </td>
      <td class='text-center'>
        <%= feature_flag platform::BIBLIOTHECARY_SUPPORT, (platform::BIBLIOTHECARY_PLANNED ? 'Coming soon' : nil) %>
      </td>
      <td class='text-center'>
        <i> <%= platform::SECURITY_PLANNED ? 'Coming soon' : '-' %></i>
      </td>
      <td class='text-center'>
        <i>Coming soon</i>
      </td>
    </tr>
  <% end %>
</table>
