<p>Latest release: <strong> <%= latest_open_data_release_number %> - <%= latest_open_data_release_date %></strong></p>

<p>Download an archive of CSV files from zenodo:</p>

<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th>
        File name and digest
      </th>
      <th>Release Date</th>
      <th>
        Archive Size
      </th>
      <th>
        Number of rows
      </th>
      <th>Download link</th>
    </tr>
  </thead>
  <% open_data_releases.to_a.reverse.each do |version, release| %>
    <tr>
      <td>
        <strong>
          <%= release[:filename] %>
        </strong>
        <br><small class='text-muted'>MD5: <%= release[:md5] %></small>
      </td>
      <td>
        <%= release[:date] %>
      </td>
      <td>
        <%= release[:size] %>
      </td>
      <td><%= release[:rows] %></td>
      <td>
        <a href="<%= release[:download] %>" class='btn btn-<%= version == latest_open_data_release_number ? 'success' : 'primary' %>'>Download</a>
      </td>
    </tr>
  <% end %>
</table>
