<% title 'About - Libraries' %>
<div class="row">
  <div class="col-md-8">
    <h1>What is Libraries.io?</h1>

    <p>
      <strong>Libraries.io</strong> helps developers find new open source libraries, modules and frameworks and keep track of ones they depend upon.
    </p>

    <h3>
      <strong>Repository Monitoring</strong>
    </h3>
    <%= render 'dashboard/monitoring_promo' %>

    <h3>
      <strong>Advanced search</strong>
    </h3>

    <p>
      The world of open source software depends on a lot of open source libraries. We are standing on the shoulders of giants, which helps us to reach further than we could otherwise.
    </p>

    <p>
      The problem with platforms like Rubygems and NPM is there are so many libraries, with hundreds of new ones added every day. Trying to find the right library can be overwhelming.
    </p>

    <p>
      Within Libraries.io we’ve aggregated <strong><%= number_with_delimiter(Project.total) %></strong> projects, written in <strong>160</strong> languages from across <strong><%= Download.platforms.length %></strong> package managers, including dependencies, releases, license information and source code repository infomation. This results in a rich index of almost every open source library available for use today.
    </p>

    <p>
      The index is kept up to date with information about new libraries and new releases of existing libraries every day. This ensures upcoming projects get exposure, as well as existing well known libraries.
    </p>

    <%= link_to search_path, class: "btn btn-info" do %>
      <%= fa_icon 'search' %>
      Search for open source libraries
    <% end %>

    <h3>
      <strong>New version notifications</strong>
    </h3>

    <p>
      Libraries.io lets you watch libraries that you depend on and notifies you when there's a new release.
      When you follow a library, new releases will show up here in your newsfeed.
    </p>

    <p>
      This means you can subscribe to a project to receive notifications when new releases are published, including new tags on GitHub repos for platforms like Bower and Go that don’t store release information in a central repository.
    </p>

    <%- if logged_in? %>
    <p>
      <a href="<%= platforms_path %>" class="btn btn-success">
        <%= fa_icon 'star' %>
        Explore all <%= Download.platforms.count %> package managers
      </a>
    </p>
    <% else %>
    <p>
      <a href="<%= login_path %>" class="btn btn-success">
        <%= fa_icon 'star' %>
        Sign up, it's free for Open Source
      </a>
    </p>
    <%- end %>

    <hr>
  </div>
  <div class="col-md-4">
    <h3>
      <strong>Contact us</strong>
    </h3>
    <p>
      Got a question or request for Libraries? Open an <%= link_to 'issue on GitHub', 'https://github.com/librariesio/support/issues' %>, <%= link_to 'tweet us', 'https://twitter.com/librariesio' %> or email <%= mail_to 'support@libraries.io', 'support@libraries.io' %>
    </p>
    <h3>
      <strong>Who built this?</strong>
    </h3>
    <%= link_to user_path('andrew') do %>
      <img src="https://avatars.githubusercontent.com/u/1060?size=80" alt="" class='pull-left avatar' />
    <% end %>
    <strong>Andrew Nesbitt</strong><br>
    <%= link_to 'https://github.com/andrew' do %>
      <%= fa_icon 'github' %> GitHub
    <% end %><br>
    <%= link_to 'https://twitter.com/teabass' do %>
      <%= fa_icon 'twitter' %> Twitter
    <% end %><br>
    <%= link_to 'http://nesbitt.io' do %>
      <%= fa_icon 'globe' %> Website
    <% end %><br><hr>
    <%= link_to user_path('malditogeek') do %>
      <img src="https://avatars.githubusercontent.com/u/14751?size=80" alt="" class='pull-left avatar' />
    <% end %>
    <strong>Mauro Pompilio</strong><br>
    <%= link_to 'https://github.com/malditogeek' do %>
      <%= fa_icon 'github' %> GitHub
    <% end %><br>
    <%= link_to 'https://twitter.com/malditogeek' do %>
      <%= fa_icon 'twitter' %> Twitter
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Package Manager Compatibility Matrix</h2>
    <%= render 'matrix' %>
  </div>
</div>
