<% title 'About - Libraries' %>
<div class="row">
  <div class="col-sm-8">
   <h1>About</h1>
    <h3>
      Helping you make more informed decisions about the software you use.
    </h3>
    <p>
      Libraries.io indexes data from <strong><%= number_with_delimiter(Project.total) %></strong> projects from <strong><%= PackageManager::Base.platforms.length %></strong> package managers. We monitor project releases, analyse each project's code, community, distribution and documentation, and we map the relationships between projects when they're declared as a dependency. The 'dependency tree' that emerges is the core of the services that we provide.
    </p>
    <h2>Use Libraries.io to</h2>
    <hr>
    <h3>
      <strong>Search</strong>
    </h3>
    <p><strong>Spend your time including, not searching.</strong></p>
    <p>
      <%= link_to search_path, class: "btn btn-info" do %>
        <%= fa_icon 'search' %>
        Search <%= number_with_delimiter(Project.total) %> libraries
      <% end %>
    </p>
    <p>
      The majority of publication and distribution channels do not provide sufficient tools for developers to discover libraries that could be valuable to them. Similarly they do not provide adequate information for individuals to judge the merit of one library over another when they tackle similar issues or solve similar problems.
    </p>

    <h3>
      <strong>Monitor Your Projects</strong>
    </h3>
    <p>
      <strong>Keeping a watch while you work.</strong>
    </p>
    <p>
    <% if current_user && current_user.github_enabled? %>
      <% if current_user.needs_to_enable_github_access? %>
        <%= link_to enable_public_path, class: 'btn btn-primary' do %>
          <i class="fa fa-github"></i> Enable open source access (for free)
        <% end %>
      <% else %>
        <%= link_to repositories_path, class: 'btn btn-primary' do %>
          <%= fa_icon 'github' %>
          Manage your projects
        <% end %>
      <% end %>
    <% elsif !current_user || current_user.github_enabled? %>
      <%= link_to repositories_path, class: 'btn btn-primary' do %>
        <%= fa_icon 'github' %>
        Start monitoring your projects
      <% end %>
    <% end %>
    </p>
    <p>
      The software we depend upon is constantly shifting and in need of continuous monitoring and management. By analysing libraries and understanding the relationships between them, we can automate much of this.
    </p>
    <p>
      Similarly we can help you maintain your open source library by reflecting the state of the ecosystem back at you. Exposing the network of consumers who depend upon your software and the characteristics of the projects your software is deployed within.
    </p>

    <h3>
      <strong>Get Release Notifications</strong>
    </h3>
    <p>
      <strong>Smooth out version bumps.</strong>
    </p>
        <%- if logged_in? %>
    <p>
      <a href="<%= platforms_path %>" class="btn btn-success">
        <%= fa_icon 'star' %>
        Explore all <%= PackageManager::Base.platforms.count %> package managers
      </a>
    </p>
    <% else %>
    <p>
      <a href="<%= login_path(return_to: request.original_url) %>" class="btn btn-success">
        <%= fa_icon 'star' %>
        Sign up, it's free for Open Source
      </a>
    </p>
    <%- end %>
    <p>
      Libraries.io tracks releases from <strong><%= number_with_delimiter(Project.total) %></strong> projects on <strong><%= PackageManager::Base.platforms.length %></strong> package managers in one place. Subscribe to a project and receive notifications of new versions or tags for platforms like Bower and Go that don't store release information centrally.
    </p>
    <h2>Supported Package Managers</h2>
    <hr>
    <p>
      Libraries.io supports the following package managers. For more detail check out <%= link_to 'our compatibility matrix', compatibility_path %>.
    </p> 
    <div class="">
      <% PackageManager::Base.platforms.select{|p| p::BIBLIOTHECARY_SUPPORT }.sort_by{|p| p.formatted_name.downcase }.each do |platform| %>
        <a class="pictogram tip pictogram-<%= platform.formatted_name.downcase %>" href="/<%= platform.formatted_name %>" title='<%= platform.formatted_name %>'></a>
      <% end %>
    </div>
    <h3><strong>What About Package Manager X?</strong></h3>
    <p>
      Some package managers require compilation before parsing their dependencies, some we simply haven't got around to yet. Luckily Libraries.io is an open source project so if you need to add a new package manager then you can. You can find everything you need to get started in <a href='https://docs.libraries.io' target='_blank'>our documentation</a>.
    </p>
    <h2>Why Are You Doing This?</h2>
    <hr>
    <p>
      <h3>Improving the quality of all software.</h3>
    </p>
    <p>
      Our goal is to raise the quality of all software, by raising the quality and frequency of contributions to free and open source software; the services, frameworks, plugins and tools we collectively refer to as libraries. We do this by tackling three problems:
    </p>
    <ul>
      <li><strong>Discovery:</strong> Helping developers make faster, more informed decisions about the software that they use.</li>
      <li><strong>Maintainability:</strong> Helping maintainers understand more about the software they depend upon and the consumers of their software.</li>
      <li><strong>Sustainability:</strong> Supporting undervalued software by highlighting shortfalls in contribution and funneling support to them.</li>
    </ul>
    <p>
      If you’d like to know why we think this is the right approach then check out our <a href='https://docs.libraries.io/strategy' target='_blank'>strategy</a>.
    </p>
    <h2>Who Is Working On This (And Can I Help)?</h2>
    <hr>
    <p>
      <a class="btn btn-info" href="https://github.com/librariesio/documentation/blob/master/contributorshandbook.md#contributing-to-librariesio-heart"> <%= fa_icon 'heartbeat'%> Contribute to Libaries.io</a>
    </p>
    <p>
      <strong>YES!</strong> Libraries.io is an inclusive <%= link_to 'community of people', team_path %> working together. So please, come on in.
    </p>
  </div>
  <div class="col-sm-4">
    <%= render 'contact' %>
    <%= render 'who' %>
  </div>
</div>
