<% if logged_in? && @project.maintained? && @project.needs_suggestions? && @project.project_suggestions.where(user: current_user).count.zero? %>
<div class="alert alert-info" role="alert">
  <%= fa_icon 'question-circle' %>
  We're missing some data for this project, can you help out by adding it?
  <a href="<%= project_suggestions_path(@project.to_param) %>" class="btn btn-primary btn-xs learn-more">Suggest an improvement</a>
</div>
<% end %>
<% if @project.is_removed? %>
<div class="alert alert-danger" role="alert">
  <%= fa_icon 'exclamation-triangle' %>
  This project has been removed from <%= @project.platform %> and cannot be used anymore.
</div>
<% elsif @project.is_deprecated? %>
<div class="alert alert-danger" role="alert">
  <%= fa_icon 'exclamation-triangle' %>
  This project has been marked as deprecated and is not recommended for use anymore.
</div>
<% elsif @project.is_unmaintained? %>
<div class="alert alert-danger" role="alert">
  <%= fa_icon 'exclamation-triangle' %>
  This project has been marked as unmaintained and is no longer being updated.
</div>
<% end %>