<% dependents = @project.dependent_projects.limit(10) %>
<% dependent_repos = @project.dependent_repositories.open_source.limit(10) %>
<% if dependents.length > 0 || dependent_repos.length > 0 %>
  <hr>
  <h4 data-ga-tracked-el='dependent-projects'>Used By</h4>
  <dl class='row'>
    <% if dependents.length > 0 %>
      <% dependents.each do |project| %>
        <dt class='col-sm-8'>
          <%= link_to project.name, project_path(project.to_param) %>
        </dt>
        <dd class='col-sm-4 hidden-xs'>
          <%= project.latest_release %>
        </dd>
      <% end %>
      <% if dependent_repos.length > 0 %>
        <% dependent_repos.each do |repo| %>
          <dt class='col-sm-4 hidden-xs'>
            <%= link_to repo.full_name, repository_path(repo.to_param) %>
            <small>
              <%= fa_icon("lock") if repo.private? %>
              <%= fa_icon("code-fork") if repo.fork? %>
            </small>
          </dt>
          <dd class='col-sm-4 hideen-sm-down'>
            <%= repo.latest_release %>
          </dd>
        <% end %>
      <% end %>
    <% end %>
  </dl>
<% end %>
