<div class='project' style="border-color: <%= project.color %>;">
  <h5>
    <%= link_to project.name, project_path(project.to_param) %>
    <small><%= project.latest_version %></small>
  </h5>

  <div class="">
    <%= truncate project.description, :length => 100 %>
  </div>

  <small>
    <%= link_to project.platform, platform_path(project.platform.downcase) %> -
    <% if project.language.present? && project.language != project.platform %>
      <%= link_to project.language, language_path(project.language) %> -
    <% end %>
    <% if project.normalized_licenses.present? %>
      <%= linked_licenses project.normalized_licenses %> -
    <% end %>
    <% if project.updated_at > project.created_at + 1.minute %>
      Updated <%= time_ago_in_words project.updated_at %> ago
    <% else %>
      Published <%= time_ago_in_words project.created_at %> ago
    <% end %>
    <% if project.stars > 0 %>
     - <%= number_with_delimiter project.stars %> stars
    <% end %>
  </small>
</div>
