<% if @version_count > 0 %>
  <h4 data-ga-tracked-el='releases'>
      <%= link_to project_versions_url(@project.to_param.merge(format: :atom)), class: 'rss' do %>
        <%= fa_icon "rss-square" %>
      <% end %>
      Releases
    </h4>
    <table class='table'>
      <% @versions.each do |version| %>
      <tr>
        <td>
          <%= link_to version, version_path(version.to_param) %>
        </td>
        <% if version.published_at.present? %>
          <td>
            <small class='text-muted'>
              <%= version.published_at.to_date.to_s(:long) %>
            </small>
          </td>
        <% end %>
        <% if version.related_tag %>
        <td>
          <small class='text-muted'>
            <%= link_to version.related_tag.repository_url, class: 'tip', title: "Browse source on #{version.project.repository.host_type}" do %>
              <%= fa_icon('tag') %>
            <% end %>
          </small>
        </td>
        <td>
            <% if version.previous_version %>
              <small class='text-muted'>
                <%= link_to version.diff_url, class: 'tip', title: "View diff between #{version} and #{version.previous_version}" do %>
                  <%= fa_icon('random') %>
                <% end %>
              </small>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <% if @project.versions.size > 10 %>
      <%= link_to "See all #{pluralize(@project.versions.size, 'releases')}", project_versions_path(@project.to_param) %>
    <% end %>
  <% elsif @repository && @tags.length > 0 %>
    <h4 data-ga-tracked-el='tagged-releases'>
      <%= link_to project_tags_url(@project.to_param.merge(format: :atom)), class: 'rss' do %>
        <%= fa_icon "rss-square" %>
      <% end %>
      Tagged Releases
    </h4>
    <table class='table'>
      <% @tags.each do |tag| %>
      <tr>
        <td>
          <%= link_to tag, version_path(@project.to_param.merge(number: tag.name)) %>
        </td>
        <% if tag.published_at.present? %>
          <td>
            <small class='text-muted'>
              <%= tag.published_at.to_date.to_s(:long) %>
            </small>
          </td>
        <% end %>
        <td>
          <small class='text-muted'>
            <%= link_to tag.repository_url, class: 'tip', title: "Browse source on #{tag.repository.host_type}" do %>
              <%= fa_icon('tag') %>
            <% end %>
          </small>
        </td>
        <td>
          <% if tag.previous_tag %>
            <small class='text-muted'>
              <%= link_to tag.diff_url, class: 'tip', title: "View diff between #{tag} and #{tag.previous_tag}" do %>
                <%= fa_icon('random') %>
              <% end %>
            </small>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <% if @repository.tags.published.count > 10 %>
      <%= link_to "See all #{pluralize(@repository.tags.published.count, 'tags')}", project_tags_path(@project.to_param) %>
    <% end %>
<% end %>