<%= form_tag search_path, method: :get, class: 'navbar-form search_form', enforce_utf8: false do |f| %>
  <div class="input-group input-group">
    <%= text_field_tag 'q', "#{@query || '' }", placeholder: 'Search Packages', class: 'form-control search-input', size: 40 %>
    <% [:platforms, :licenses, :languages, :keywords, :sort].each do |field| %>
      <%= hidden_field_tag field, params[field] if params[field].present? %>
    <% end %>

    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        <%= fa_icon 'search' %>
      </button>
    </span>

    <% if logged_in? && (current_user.admin? || current_user.current_api_key.is_internal?) %>
      <%= label_tag "force_pg", title: "Use beta search", style: "display:table-cell; color:#efefef; padding: 0 10px"  do -%>
        <%= fa_icon "flask" %>
        <%= check_box_tag "force_pg", nil, params.key?("force_pg"), class: "checkbox" -%>
      <% end %>
    <% end %>
  </div>
<% end %>
