<% title "Improve the Bus Factor - Libraries.io" %>
<div class="row">
  <h1><i class="fa fa-bus"></i> Improve the Bus Factor</h1>
</div>
<hr>

<div class="row">
  <div class="col-sm-8">
    <% @projects.each do |project| %>
      <% cache(['bus-factor', project]) do  %>
        <div class="row">
          <div class='project col-xs-8' style="border-color: <%= project.color %>;">
            <h5>
              <%= link_to project.name, project_path(project.to_param) %>
              <small><%= project.latest_release_number %></small>
            </h5>

            <div class="">
              <%= truncate project.description, :length => 100 %>
            </div>

            <small>
              <%= link_to project.platform_name, platform_path(project.platform.downcase) %> -
              <% if project.language.present? && project.language != project.platform %>
                <%= link_to project.language, language_path(project.language) %> -
              <% end %>
              <% if project.normalized_licenses.present? %>
                <%= linked_licenses project.normalized_licenses %> -
              <% end %>
              <%= project.versions_count > 1 ? 'Updated' : 'Published' %>
              <%= timeago_tag project.latest_release_published_at %>
              <% if project.stars > 0 %>
               - <%= number_to_human project.stars %> stars
              <% end %>
              - <%= link_to pluralize(project.repository.try(:contributions_count), 'contributor'), project.repository.try(:contributors_url) %>
            </small>
          </div>
          <div class="col-xs-4">
            <br>
            <%= link_to project.repository.try(:url), class: 'btn btn-primary' do %>
            Contribute
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate @search, page_links: false %>
  </div>
  <div class="col-sm-4 facets">
    <h3>
      <strong>
        What's the bus factor?
      </strong>
    </h3>
    <p>
      The <%= link_to 'Bus factor', 'https://en.wikipedia.org/wiki/Bus_factor' %> is the number of key developers who would need to be incapacitated to make a package unable to proceed.
    </p>
    <p>
      This page shows packages that are depended upon by many other packages but have only ever had a handful of contributors commit to the project.
    </p>
    <p>
      You can help out by reviewing the code for these packages, helping out with open issues and pull requests and lending the maintainers a helping hand if required.
    </p>
    <p>
      <em>This is an experiment based on contributions and available dependency data from package manager repositories that make it easily available.</em>
    </p>
    <% @facets.each do |name, facet| %>
      <% next if facet.buckets.nil? || facet.buckets.empty? %>
      <%= render 'search/facet', name: name, facet: facet %>
    <% end %>
  </div>
</div>
