<% cache([@version.id, 'dependencies'], expires_in: 1.week) do %>
  <% @dependencies = (@versions.size > 0 ? (@version || @versions.first).dependencies.includes(project: :versions).order('project_name ASC').limit(100) : []) %>
  <% if @dependencies.length > 0 %>
    <div class='row'>
      <div class="col-md-12">
        <% groups = @dependencies.group_by(&:kind).sort_by{|k,v| k == 'runtime' ? 0 : 1} %>
        <ul class="nav nav-tabs" role="tablist">
          <% groups.each_with_index do |(kind, _deps), i| %>
            <li role="presentation" class="<%= 'active' if i.zero? %>">
              <a href="#<%= kind %>" aria-controls="profile" role="tab" data-toggle="tab">
                <%= kind.humanize unless kind == 'runtime' %> Dependencies
              </a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content">
          <% groups.each_with_index do |(kind, deps), i| %>
            <div role="tabpanel" class="tab-pane table-responsive <%= 'active' if i.zero? %>" id="<%= kind %>">
              <table data-ga-tracked-el='dependencies' class='table table-hover table-condensed'>
                <thead>
                  <th>
                    Name
                  </th>
                  <th>
                    Requirements
                  </th>
                  <th>
                    Latest Stable
                  </th>
                  <th>
                    Latest Release
                  </th>
                  <th>
                    Licenses
                  </th>
                  <th>

                  </th>
                </thead>
                <% deps.each do |dependency| %>
                  <tr>
                    <td>
                      <%= link_to dependency.project_name, project_path(name: dependency.project_name, platform: PackageManager::Base.dependency_platform(dependency.platform)) %>
                    </td>
                    <td>
                      <%= dependency.requirements %>
                    </td>
                    <td>
                      <%= dependency.try(:project).try(:latest_stable_release_number) %>
                    </td>
                    <td>
                      <%= dependency.try(:project).try(:latest_release_number) %>
                    </td>
                    <td>
                      <% if dependency.project %>
                        <%= linked_licenses dependency.project.normalized_licenses %>
                      <% end %>
                    </td>
                    <td>
                      <% if dependency.project %>
                        <%= render 'dependencies/flags', dependency: dependency %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
              <% kind_param = kind == 'runtime' ? nil : kind %>
              <% link = @version ? version_tree_path(@version.to_param.merge(kind: kind_param)) : tree_path(@project.to_param.merge(kind: kind_param)) %>
              <%= link_to link, class: 'btn btn-success' do %>
                <%= fa_icon 'code-fork' %>
                Explore the resolved <%= kind.downcase unless kind == 'runtime' %> dependency tree for <%= @project %> <%= @version_number %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
