<% title "Repositories that depend on #{@project}  on #{@project.platform_name} - Libraries.io" %>

<h1>
  <div class="pictogram pictogram-<%= @project.platform.downcase %>"></div>
  <%= link_to @project, project_path(@project.to_param) %>
</h1>
<hr>
<% if @project.dependent_repos_count.positive? %>
  <p class="lead"><strong><%= @project.dependent_repos_count %></strong> <%= 'repository'.pluralize(@project.dependent_repos_count) %> depend on <%= link_to @project, project_path(@project.to_param) %>:</p>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <% if @project.dependent_repos_count.positive? %>
      <%= render @dependent_repos %>
      <%= will_paginate @dependent_repos, page_links: false %>
    <% else %>
      <p>
        No repositories found, go back to <%= link_to @project, project_path(@project.to_param) %>.
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">

  </div>
</div>
