<div class='row'>
  <div class="col-md-12 leaderboard">
    <h1>Libraries.io <small>The Open Source Discovery Service. <%= link_to 'Find out more &raquo;'.html_safe, about_path, class: 'visible-xs' %></small></h1>

    <%= form_tag search_path, method: :get, class: 'search-form', enforce_utf8: false do |f| %>
      <div class="input-group input-group-lg">
        <%= text_field_tag 'q', params[:q], placeholder: 'Search open source libraries, frameworks and tools...', class: 'form-control', autofocus: true %>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
      <p class='hidden-xs'>Libraries.io monitors <strong><%= number_with_delimiter(Project.total) %></strong> open source libraries across <strong><%= Repositories::Base.platforms.length %></strong> different package managers.
          You can discover new libraries to use in your software projects as well as be notified of new releases to keep your applications secure and up to date.
      <%= link_to 'Find out more', about_path %>
      </p>
      <hr>
    <% end %>
  </div>
</div>

<div class='row'>
  <%= render partial: 'platforms/platform', collection: @platforms %>
</div>

<hr>
<%= render 'adsense/banner' %>
<h3>
  Search Projects by Language
  <small class='more'>
    <%= link_to 'See more &raquo;'.html_safe, languages_path %>
  </small>
</h3>
<div class='row'>
  <%= render partial: 'languages/language', collection: @languages %>
</div>

<hr>
<%= render 'adsense/banner' %>
<h3>
  Search Projects by License
  <small class='more'>
    <%= link_to 'See more &raquo;'.html_safe, licenses_path %>
  </small>
</h3>
<div class='row'>
  <%= render partial: 'licenses/license', collection: @licenses %>
</div>

<hr>
<%= render 'adsense/banner' %>
<h3>
  Search Projects by Keyword
  <small class='more'>
    <%= link_to 'See more &raquo;'.html_safe, keywords_path %>
  </small>
</h3>
<div class='row'>
  <%= render partial: 'keywords/keyword', collection: @keywords %>
</div>
