<div class='row'>
  <div class="jumbotron">
    <h1>Libraries of Open Source</h1>
    <p>Discover new modules and libraries you can use in your projects.</p>
  </div>
</div>
<div class='row'>
  <div class='col-md-4'>
    <h3>Package managers</h3>
    <% Project.popular_platforms.each do |platform| %>
      <p>
        <%= link_to platform.platform, platform_path(platform.platform) %> -
        <%= number_with_delimiter platform.count %>
      </p>
    <% end %>
    <p>
      <%= link_to 'See all package managers &raquo;'.html_safe, platforms_path %>
    </p>
  </div>
  <div class='col-md-4'>
    <h3>Licenses</h3>
    <% Project.popular_licenses(5).each do |license| %>
    <p>
      <%= link_to license.licenses, search_path(license: license.licenses) %> -
      <%= number_with_delimiter license.count %>
    </p>
    <% end %>
    <p>
      <%= link_to 'See all licenses &raquo;'.html_safe, search_path %>
    </p>
  </div>
  <div class='col-md-4'>
    <h3>Recently updated</h3>
    <% Project.limit(5).order('updated_at DESC').each do |project| %>
    <p>
      <%= link_to project, project %> - <%= project.updated_at.to_s(:short) %>
    </p>
    <% end %>
    <p>
      <%= link_to 'See more projects &raquo;'.html_safe, search_path %>
    </p>
  </div>
</div>
