<div class='row'>
  <div class="jumbotron row">
    <div class='col-md-2 hidden-xs hidden-sm'>
      <%= image_tag 'logo.png', class: 'pull-left', width: 140 %>
    </div>
    <div class='col-md-10'>
      <h1>
        Open Source Libraries
      </h1>
      <p>Discover new modules and libraries you can use in your projects.</p>

    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-4'>
    <h3>Package managers</h3>
    <% @platforms.each do |platform| %>
      <p>
        <strong><%= link_to platform.term, platform_path(platform.term.downcase) %></strong> -
        <%= number_with_delimiter platform['count'] %>
      </p>
    <% end %>
    <p>
      <%= link_to 'See all package managers &raquo;'.html_safe, platforms_path %>
    </p>
  </div>
  <div class='col-md-4'>
    <h3>Languages</h3>
    <% @languages.each do |language| %>
    <p>
      <strong><%= link_to language.term, language_path(language.term.downcase) %></strong> -
      <%= number_with_delimiter language['count'] %>
    </p>
    <% end %>
    <p>
      <%= link_to 'See all language &raquo;'.html_safe, languages_path %>
    </p>
  </div>
  <div class='col-md-4'>
    <h3>Licenses</h3>
    <% @licenses.each do |license| %>
    <p>
      <strong><%= link_to license.term, license_path(license.term) %></strong> -
      <%= number_with_delimiter license['count'] %>
    </p>
    <% end %>
    <p>
      <%= link_to 'See all licenses &raquo;'.html_safe, licenses_path %>
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-md-4'>
    <h3>Popular Projects</h3>
    <% @popular.each do |project| %>
    <div class='project'>
      <strong><%= link_to project.name, project_path(project.to_param) %></strong>
      <small>- <%= link_to project.platform, platform_path(project.platform.downcase) %>
        - Updated <%= time_ago_in_words project.updated_at %> ago
      </small>
      <br />
      <%= truncate project.description, :length => 100 %>
      <br /><br />
    </div>
    <% end %>
    <p>
      <%= link_to 'See more projects &raquo;'.html_safe, search_path(sort: 'stars', order: 'desc') %>
    </p>
  </div>
  <div class='col-md-4'>
    <h3>New Projects</h3>
    <% @created.each do |project| %>
    <div class='project'>
      <strong><%= link_to project.name, project_path(project.to_param) %></strong>
      <small>- <%= link_to project.platform, platform_path(project.platform.downcase) %>
        - Published <%= time_ago_in_words project.updated_at %> ago
      </small>
      <br />
      <%= truncate project.description, :length => 100 %>
      <br /><br />
    </div>
    <% end %>
    <p>
      <%= link_to 'See more projects &raquo;'.html_safe, search_path(sort: 'created_at', order: 'desc') %>
    </p>
  </div>
  <div class='col-md-4'>
    <h3>Contributors</h3>
    <% @contributors.each do |user| %><%= link_to image_tag(user.avatar_url, width: 60, height: 60), user_path(user) %><% end %>
  </div>
</div>
