<div class='row'>
  <div class="col-md-12 headline">
    <h1>Welcome to Libraries.io - a Tidelift project</h1>
    <%= link_to 'Find out more &raquo;'.html_safe, about_path, class: 'visible-xs' %>

    <%= form_tag search_path, method: :get, class: 'search-form', enforce_utf8: false do |f| %>
      <div class="input-group input-group-lg">
        <%= text_field_tag 'q', params[:q], placeholder: 'Search open source packages, frameworks and tools...', class: 'form-control', autofocus: true %>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
      <p class='hidden-xs'>
        Libraries.io monitors <strong><%= number_with_delimiter(Project.fast_total) %></strong> open source packages across <strong><%= PackageManager::Base.platforms.length %></strong> different package managers, so you don't have to.
      </p>
    <% end %>
  </div>
</div>
<% if not logged_in? %>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <%= link_to 'Login', login_path, class:'btn btn-primary center-block' %>
    </div>
    <div class="col-md-5"></div>
  </div>
<% end %>
<hr>
<h2>Why use Libraries.io?</h2>
<div class='row cta'>
  <div class='col-md-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= fa_icon 'search' %>&nbsp;Evaluating package risk</h2>
      </div>
      <div class="panel-body">
        <p>
          Analyze open source package insights to evaluate whether a package is suitable for use.
        </p>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= fa_icon 'binoculars' %>&nbsp;Discovering new software</h2>
      </div>
      <div class="panel-body">
        <p>
          Search <%= number_to_human(Project.fast_total) %> packages by <%= link_to 'license'.html_safe, licenses_path %>, <%= link_to 'language'.html_safe, languages_path %>, or explore new, trending or popular packages.
        </p>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= fa_icon 'thumb-tack' %>&nbsp;Monitoring your dependencies</h2>
      </div>
      <div class="panel-body">
        <p>
          Stay up to date with notifications of updates, license incompatibilities or deleted dependencies.
        </p>
      </div>
    </div>
  </div>
  <div class='col-md-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><%= fa_icon 'wrench' %>&nbsp;Maintaining your OSS project</h2>
      </div>
      <div class="panel-body">
        <p>
          Understand your users and make informed decisions about features with usage and version data.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
<% if not logged_in? %>
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <%= link_to 'Login', login_path, class:'btn btn-primary center-block' %>
  </div>
  <div class="col-md-2">
    <%= link_to 'API Documentation', '/api', class:'btn btn-primary center-block'%>
  </div>
  <div class="col-md-4"></div>
<% else %>
<div class="col-md-5"></div>
    <div class="col-md-2">
      <%= link_to 'API Documentation', '/api', class:'btn btn-primary center-block'%>
    </div>
    <div class="col-md-5"></div>
<% end %>
</div>

<hr>

<h2>Looking for more package risk indicators?</h2>
<p>The <%= link_to 'Tidelift', 'https://tidelift.com/' %> Subscription provides deeper, more meaningful insights that allow you to evaluate latent risk indicators such as package maintenance and end-of-life status, evaluating code contributors and security measures such as two-factor-authentication to eliminate malicious code injections, and more.</p>
<br>
<hr>

<h2 data-ga-tracked-el='search-by-language'>
  Supported Package Managers
</h2>
<div class='row'>
  <%= render partial: 'platforms/platform', collection: @platforms %>
</div>
<br>
<p>
  Package manager not listed above? <%= link_to 'Consider adding support for it', "https://github.com/librariesio/libraries.io/blob/main/docs/add-a-package-manager.md" %>.
</p>
