<div class='row'>
  <div class="jumbotron">
    <div class='col-md-2 hidden-sm hidden-xs'>
      <%= image_tag 'logo.png', class: 'pull-left', width: 140 %>
    </div>
    <div class='col-sm-12 col-md-10'>
      <h1>
        Libraries.io
      </h1>
      <%= form_tag search_path, method: :get, class: 'search-form', enforce_utf8: false do |f| %>
        <%= text_field_tag 'q', params[:q], placeholder: 'Search libraries...', class: 'form-control' %>
      <% end %>
      <p>Libraries.io monitors <%= number_with_delimiter(Project.total) %> open source libraries across many different package managers.</p>
      <p class='hidden-xs'>
        You can discover new libraries to use in your software projects as well as being notified of new releases to keep your applications secure and up to date.
      </p>
    </div>
  </div>
</div>
<hr>

<% cache 'homepage:platforms', :expires_in => 1.day do %>
  <h3>
    Search Projects by Platform
    <small class='more'>
      <%= link_to 'See more &raquo;'.html_safe, platforms_path %>
    </small>
  </h3>
  <div class='row'>
    <%= render partial: 'platforms/platform', collection: Project.popular_platforms %>
  </div>
<% end %>

<hr>

<% cache 'homepage:languages', :expires_in => 1.day do %>
  <h3>
    Search Projects by Language
    <small class='more'>
      <%= link_to 'See more &raquo;'.html_safe, languages_path %>
    </small>
  </h3>
  <div class='row'>
    <%= render partial: 'languages/language', collection: Project.popular_languages(:facet_limit => 24) %>
  </div>
<% end %>

<hr>

<% cache 'homepage:licenses', :expires_in => 1.day do %>
  <h3>
    Search Projects by License
    <small class='more'>
      <%= link_to 'See more &raquo;'.html_safe, licenses_path %>
    </small>
  </h3>
  <div class='row'>
    <%= render partial: 'licenses/license', collection: Project.popular_licenses(:facet_limit => 24) %>
  </div>
<% end %>
