<div class='row'>
  <div class="jumbotron">
    <div class='col-md-12 col-md-8'>
      <%= form_tag search_path, method: :get, class: 'search-form', enforce_utf8: false do |f| %>
        <%= text_field_tag 'q', params[:q], placeholder: 'Search libraries...', class: 'form-control' %>
      <% end %>
      <p>Libraries.io monitors <%= number_with_delimiter(Project.total) %> open source libraries across <%= Download.platforms.length %> different package managers.</p>
      <p class='hidden-xs'>
        You can discover new libraries to use in your software projects as well as be notified of new releases to keep your applications secure and up to date.
      </p>
    </div>
  </div>
</div>
<hr>

<h3>
  Search Projects by Platform
  <small class='more'>
    <%= link_to 'See more &raquo;'.html_safe, platforms_path %>
  </small>
</h3>
<div class='row'>
  <%= render partial: 'platforms/platform', collection: @platforms %>
</div>

<hr>

<h3>
  Search Projects by Language
  <small class='more'>
    <%= link_to 'See more &raquo;'.html_safe, languages_path %>
  </small>
</h3>
<div class='row'>
  <%= render partial: 'languages/language', collection: @languages %>
</div>

<hr>

<h3>
  Search Projects by License
  <small class='more'>
    <%= link_to 'See more &raquo;'.html_safe, licenses_path %>
  </small>
</h3>
<div class='row'>
  <%= render partial: 'licenses/license', collection: @licenses %>
</div>

<hr>

<h3>
  Search Projects by Keyword
  <small class='more'>
    <%= link_to 'See more &raquo;'.html_safe, keywords_path %>
  </small>
</h3>
<div class='row'>
  <%= render partial: 'keywords/keyword', collection: @keywords %>
</div>
