<div class='row'>
  <div class="jumbotron row">
    <div class='col-md-2 hidden-xs hidden-sm'>
      <%= image_tag 'logo.png', class: 'pull-left', width: 140 %>
    </div>
    <div class='col-md-10'>
      <h1>
        Open Source Libraries
      </h1>
      <p>Discover new modules and libraries you can use in your projects.</p>
      <%= form_tag search_path, method: :get, class: 'search-form' do |f| %>
        <%= text_field_tag 'q', params[:q], placeholder: 'Search..', class: 'form-control' %>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-md-4'>
    <h4><%= link_to 'Package managers', platforms_path %></h4>
    <% @platforms.each do |platform| %>
      <p>
        <strong><%= link_to platform.term, platform_path(platform.term.downcase) %></strong> -
        <%= number_with_delimiter platform['count'] %>
      </p>
    <% end %>
  </div>
  <div class='col-md-4'>
    <h4><%= link_to 'Languages', languages_path %></h4>
    <% @languages.each do |language| %>
    <p>
      <strong><%= link_to language.term, language_path(language.term) %></strong> -
      <%= number_with_delimiter language['count'] %>
    </p>
    <% end %>
  </div>
  <div class='col-md-4'>
    <h4><%= link_to 'Licenses', licenses_path %></h4>
    <% @licenses.each do |license| %>
    <p>
      <strong><%= link_to license.term, license_path(license.term) %></strong> -
      <%= number_with_delimiter license['count'] %>
    </p>
    <% end %>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-md-4'>
    <h4><%= link_to 'Popular Projects', search_path(sort: 'rank', order: 'desc') %></h4>
    <%= render @popular %>
  </div>
  <div class='col-md-4'>
    <h4><%= link_to 'New Projects', search_path(sort: 'created_at', order: 'desc') %></h4>
    <%= render @created %>
  </div>
  <div class='col-md-4'>
    <h4>Top Contributors</h4>
    <%= render @contributors %>
  </div>
</div>
