<% title "#{@platform_name} Removed Packages - Libraries.io" %>
<% description "Packages marked as removed which are no longer available for download" %>
<div class="row">
  <h1><i class="fa fa-ban"></i> <%= @platform_name %> Removed Packages</h1>
</div>
<hr>

<div class="row">
  <div class="col-sm-8">
    <%= render @projects, cache: true %>
    <%= will_paginate @projects, page_links: false %>
    <p>
      <small><%= page_entries_info @projects, model: 'removed packages' %></small>
    </p>
  </div>
  <div class="col-sm-4">
    <h3>
      <strong>
        Filter by package manager
      </strong>
    </h3>
    <div class="facets">
      <ul class='filter'>
        <% @platforms.each do |platform, count| %>
          <li class='<%= 'active' if platform.downcase == params[:platform].try(:downcase) %>'>
            <% if platform.downcase == params[:platform].try(:downcase) %>
              <%= link_to platform, unlicensed_path(platform: nil) %>
            <% else %>
              <%= link_to platform, unlicensed_path(platform: platform) %>
            <% end %>
            <small><%= number_to_human count %></small>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
