<div class='row'>
  <div class='col-md-8'>
    <h3>
      Search for "<%= params[:q] %>"
      <% if params[:platform].present? %>
      in <%= params[:platform] %>
      <% end %>
    </h3>

    <%= render @projects %>

    <%= will_paginate @projects, renderer: BootstrapPagination::Rails, page_links: false %>
  </div>

  <div class='col-md-4'>
    <%= render 'platforms' %>
  </div>
</div>
