<% title "#{@project} #{@version} on #{@project.platform_name} - Libraries.io" %>
<% description project_description(@project, @version) %>
<% content_for :atom, auto_discovery_link_tag(:atom, rss_url(@project)) %>

<%= content_for :meta, render_meta(@project) %>

<%= render 'alerts' %>

<div class="row">
  <div class='col-md-8'>
    <h1>
      <%= @project %>
      <br>
      <small class='hidden-xs'>
        <%= @project.release_or_tag.singularize.titlecase %>
        <% if @version %>
          <%= @version %>
        <% else %>
          <%= @project.latest_release_number %>
        <% end %>
      </small>
    </h1>
  </div>
  <div class='col-md-4 sidebar'>
      <%= render 'actions' %>
  </div>
</div>


<div class='row'>
  <% cache([@project, @version, 'projects:show', 'v1'], :expires_in => 1.day) do %>
    <div class='col-md-8'>
      <dl>
        <% if @project.description.present? %>
          <dd>
            <%= @project.description %>
          </dd>
        <% end %>
        <% if @project.keywords_array.present? %>
          <dt>
              Keywords
          </dt>
          <dd>
            <%= linked_keywords @project.keywords_array %>
          </dd>
        <% end %>
      </dl>
      <hr>
      <%= render 'details' %>

      <%= render 'contributors' %>

      <%= render 'adsense/banner' %>

      <% if @repository.present? && @repository.readme.present? %>
        <div class='hidden-xs'>
          <hr>
          <h3 data-ga-tracked-el='readme'>Documentation</h3>
          <div class='well'>
            <%== @repository.readme %>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

  <% cache([@project, @version, 'projects:sidebar', 'v1'], :expires_in => 1.day) do %>
    <div class='col-md-4 sidebar'>

      <%= render 'adsense/sustain' %>

      <%= render 'statistics' %>

      <%= render 'releases' %>
 
      <% cache([@project, @version, 'dependents:v3'], :expires_in => 1.day) do  %>
      <% dependents = @project.dependent_projects.limit(10) %>
      <% dependent_repos = @project.dependent_repositories.open_source.limit(10) %>
      <% if @dependencies.length > 0 %>
        <%= render 'dependencies' %>
      <% end %>
      <% if current_user %>
        <% render 'your_dependents' %>
      <% end %>
      <% if dependent_repos.length > 0 || dependents.length > 0 %>
        <%= render 'dependents' %>
      <% end %>
    <% end %>
      <hr>
      <p>
        <%= fa_icon 'question-circle' %>
        Something wrong with this page?
        <%= link_to 'Make a suggestion', project_suggestions_path(@project.to_param) %>
      </p>
      <p>
        <%= fa_icon 'download' %>
        <%= link_to 'Export .ABOUT file for this library', @version.present? ? about_version_path(@project.to_param.merge(number: @version.number)) : about_project_path(@project.to_param) %>
      </p>
      <p>
        <small class='text-muted'>Last synced: <%= @project.last_synced_at || @project.created_at %></small>
      </p>
      <% unless @project.recently_synced? %>
        <% if logged_in? %>
          <p>
            <%= link_to sync_project_path(@project.to_param), class: 'btn btn-primary btn-xs', method: :post do %>
              <%= fa_icon 'refresh' %>
              Resync Project
            <% end %>
          </p>
        <% else %>
          <p>
            <small class='text-muted'>
              <%= link_to 'Login', login_path(return_to: request.original_url) %> to resync this project
            </small>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>