<% title "#{@project} #{@version} on #{@project.platform} - Libraries" %>
<% description @project.description if @project.description.present?  %>

<div class='row'>
  <div class='col-md-8'>
    <h3>
      <%= @project %>
      <small>
        <%= link_to @project.platform, platform_path(@project.platform.downcase) %>
        <% if @version %>
          - <%= @version %>
        <% elsif @versions.any? %>
          - <%= @versions.first %>
        <% end %>

      </small>
    </h3>

    <% if @project.description.present? %>
    <p>
      <%= @project.description %>
    </p>
    <% end %>

    <% if @project.keywords.present? %>
    <p>
      <%= 'Keyword'.pluralize(@project.keywords.split(',').length) %>: <%= linked_keywords @project.keywords %>
    </p>
    <% end %>

    <% if @project.normalized_licenses.present? %>
    <p>
      <%= 'License'.pluralize(@project.normalized_licenses.length) %>: <%= linked_licenses @project.normalized_licenses %>
    </p>
    <% end %>

    <% if @project.homepage.present? && @project.homepage != package_link(@project.name, @project.platform) %>
    <p>
      Homepage: <%= link_to(@project.homepage, sanitize_url(@project.homepage)) %>
    </p>
    <% end %>
    <% if link = package_link(@project.name, @project.platform, @version.try(:number)) %>
    <p>
      View on registry: <%= link_to truncate(link, length: 70), link %>
    </p>
    <% end %>

    <% if @project.github_url.present? && @project.github_repository.nil? %>
      <p>
        Repo: <%= link_to @project.github_url, sanitize_url(@project.github_url) %>
      </p>
    <% end %>

    <% if install_instructions(@project.name, @project.platform, @version.try(:number)) %>
      <p>
        Install:
        <code>
          <%= install_instructions(@project.name, @project.platform, @version.try(:number)) %>
        </code>
      </p>
    <% end %>

    <% if @dependencies.any? || @project.dependent_projects.any? %>
      <div class="row">
        <hr>
        <% if @dependencies.any? %>
        <div class="col-md-6">
          <% @dependencies.group_by(&:kind).each do |kind, dependencies| %>
            <h4><%= kind.humanize unless kind == 'normal' %> Dependencies</h4>
            <ul>
              <% dependencies.each do |dependency| %>
                <li>
                  <%= link_to dependency.project_name, project_path(name: dependency.project_name, platform: dependency.platform.downcase) %>
                  - <%= dependency.requirements %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <% end %>

        <% if @project.dependent_projects.any? %>
          <div class="col-md-6">
            <h4>Dependents</h4>
            <ul>
              <% @project.dependent_projects.each do |project| %>
              <li class='project'>
                <strong><%= link_to project.name, project_path(project.to_param) %></strong>
                <small><%= link_to project.platform, platform_path(project.platform.downcase) %>
                  <% if project.normalized_licenses.present? %>
                  - <%= linked_licenses project.normalized_licenses %>
                  <% end %>
                </small><br>
                <%= truncate project.description, :length => 100 %>
              </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render 'projects/github' if @project.github_repository.present? %>
  </div>

  <div class='col-md-4'>
    <% if @versions.any? %>
    <strong>
      <%= pluralize @versions.count, 'version' %>
    </strong>
    <% if @versions.last.published_at.present? %>
      since
      <%= @versions.last.published_at.to_date.to_s(:long) %>
    <% end %>
    <ul>
      <% @versions.each do |version| %>
      <li>
        <% if version == @version %>
          <strong><%= version %></strong>
        <% else %>
          <%= link_to version, version_path(version.to_param) %>
        <% end %>
        <% if version.published_at.present? %>
        - <%= version.published_at.to_date.to_s(:long) %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>

    <% if @related && @related.any? %>
      <% if @versions.any? %>
        <hr>
      <% end %>
      <strong>Related Projects</strong>
      <ul>
        <% @related.each do |project| %>
        <li class='project'>
          <strong><%= link_to project.name, project_path(project.to_param) %></strong>
          <small><%= link_to project.platform, platform_path(project.platform.downcase) %>
            <% if project.normalized_licenses.present? %>
            - <%= linked_licenses project.normalized_licenses %>
            <% end %>
          </small><br>
          <%= truncate project.description, :length => 100 %>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
