<% title "#{@project} #{@version} on #{@project.platform} - Libraries" %>
<% description @project.description  %>

<div class="row">
  <div class='col-md-8'>
    <h1>
      <%= @project %>
      <small>
        <% if @version %>
          <%= @version %>
        <% else %>
          <%= @project.latest_version %>
        <% end %>
      </small>
    </h1>
  </div>
  <div class='col-md-4'>
    <h1>
      <% if logged_in? && current_user.subscribed_to?(@project) %>
        <%= link_to 'Unsubscribe from updates', subscription_path(current_user.subscribed_to?(@project)), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'Subscribe to updates', subscribe_path(project_id: @project.id), class: 'btn btn-success', rel: 'nofollow' %>
      <% end %>
    </h1>
  </div>
</div>

<div class='row'>
  <div class='col-md-8'>
    <% if @project.description.present? %>
    <p>
      <%= @project.description %>
    </p>
    <% end %>

    <% if @project.homepage.present? && @project.homepage != package_link(@project.name, @project.platform) %>
    <p>
      Homepage: <%= link_to(@project.homepage, sanitize_url(@project.homepage)) %>
    </p>
    <% end %>

    <p>
      Platform: <%= link_to @project.platform, platform_path(@project.platform.downcase) %>
    </p>

    <% if @project.language.present? %>
    <p>
      Language: <%= link_to @project.language, language_path(@project.language) %>
    </p>
    <% end %>


    <% if @project.normalized_licenses.present? %>
    <p>
      <%= 'License'.pluralize(@project.normalized_licenses.length) %>: <%= linked_licenses @project.normalized_licenses %>
    </p>
    <% end %>

    <% if @project.keywords.present? %>
    <p>
      <%= 'Keyword'.pluralize(@project.keywords.split(',').length) %>: <%= linked_keywords @project.keywords %>
    </p>
    <% end %>

    <% if link = package_link(@project.name, @project.platform, @version.try(:number)) %>
    <p>
      View on registry: <%= link_to truncate(link, length: 70), link %>
    </p>
    <% end %>

    <% if link = documentation_url(@project.name, @project.platform, @version.try(:number) || @project.latest_version ) %>
    <p>
      Documentation: <%= link_to truncate(link, length: 70), link %>
    </p>
    <% end %>

    <% if @project.github_url.present? && @github_repository.nil? %>
      <p>
        Repo: <%= link_to @project.github_url, sanitize_url(@project.github_url) %>
      </p>
    <% end %>

    <% if install_instructions(@project.name, @project.platform, @version.try(:number)) %>
      <p>
        Install:
        <code>
          <%= install_instructions(@project.name, @project.platform, @version.try(:number)) %>
        </code>
      </p>
    <% end %>

    <% if @github_repository.present? && @github_repository.readme.present? %>
    <hr>
    <%== @github_repository.readme %>
    <% end %>

    <div class="row">
      <% cache("projects:#{@project.id}:dependents", :expires_in => 1.day) do  %>
        <% dependents = @project.dependent_projects(per_page: 10) %>
        <% if dependents.any? || @dependencies.any? %>
        <hr>
        <% end %>
        <% if dependents.any? %>
          <div class="col-md-6">
            <h4>Dependents</h4>
            <ul>
              <% dependents.each do |project| %>
              <li>
                <%= link_to project.name, project_path(project.to_param) %>
              </li>
              <% end %>
            </ul>
            <%= link_to 'See all dependents', project_dependents_path(@project.to_param) %>
          </div>
        <% end %>
      <% end %>
      <% if @dependencies.any? %>
      <div class="col-md-6">
        <% @dependencies.group_by(&:kind).each do |kind, dependencies| %>
          <h4><%= kind.humanize unless kind == 'normal' %> Dependencies</h4>
          <ul>
            <% dependencies.each do |dependency| %>
              <li>
                <%= link_to dependency.project_name, project_path(name: dependency.project_name, platform: dependency.platform.downcase) %>
                <%= dependency.requirements %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <% end %>
    </div>

    <%= render 'projects/github' if @github_repository.present? %>
  </div>

  <div class='col-md-4'>
    <% if @version_count > 0 %>
      <h4>Releases</h4>
      <ul>
        <% @versions.each do |version| %>
        <li>
          <%= link_to version, version_path(version.to_param) %>
          <% if version.published_at.present? %>
          - <%= version.published_at.to_s(:long) %>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% if @project.versions.count > 10 %>
        <%= link_to "See all #{pluralize(@project.versions.count, 'releases')}", project_versions_path(@project.to_param) %>
      <% end %>
    <% elsif @github_repository && @github_tags.any? %>
      <h4>Tagged Releases</h4>
      <ul>
        <% @github_tags.each do |tag| %>
        <li>
          <%= link_to tag, version_path(@project.to_param.merge(number: tag.name)) %>
          <% if tag.published_at.present? %>
          - <%= tag.published_at.to_s(:long) %>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% if @github_repository.github_tags.count > 10 %>
        <%= link_to "See all #{pluralize(@github_repository.github_tags.count, 'tags')}", project_tags_path(@project.to_param) %>
      <% end %>
    <% end %>

    <% cache("projects:#{@project.id}:related", :expires_in => 1.day) do %>
      <% related = @project.mlt %>
      <% if related && related.any? %>
        <% if @versions.any? %>
          <hr>
        <% end %>
        <h4>Related Projects</h4>
        <%= render related %>
      <% end %>
    <% end %>
  </div>
</div>
