<% title "#{@project} #{@version} on #{@project.platform} - Libraries" %>

<div class='row'>
  <div class='col-md-8'>
    <h3>
      <%= @project %>
      <small>
        <%= link_to @project.platform, platform_path(@project.platform.downcase) %>
        <% if @version %>
          - <%= @version %>
        <% elsif @versions.any? %>
          - <%= @versions.first %>
        <% end %>

      </small>
    </h3>

    <%= simple_format(@project.description) if @project.description.present? %>

    <% if @project.keywords.present? %>
    <p>
      <%= 'Keyword'.pluralize(@project.keywords.split(',').length) %>: <%= linked_keywords @project.keywords %>
    </p>
    <% end %>

    <% if @project.licenses.present? %>
    <p>
      <%= 'License'.pluralize(@project.licenses.split(',').length) %>: <%= linked_licenses @project.normalized_licenses %>
    </p>
    <% end %>

    <% if @project.homepage.present? %>
    <p>
      Homepage: <%= link_to(@project.homepage, @project.homepage) %>
    </p>
    <% end %>
    <% if link = package_link(@project.name, @project.platform, @version.try(:number)) %>
    <p>
      On <%= @project.platform %>: <%= link_to truncate(link, length: 70), link %>
    </p>
    <% end %>

    <% if @project.github_url.present? %>
      <p>
        Repo: <%= link_to @project.github_url, @project.github_url %>
      </p>
    <% end %>

    <% if install_instructions(@project.name, @project.platform, @version.try(:number)) %>
      <p>
        Install:
        <code>
          <%= install_instructions(@project.name, @project.platform, @version.try(:number)) %>
        </code>
      </p>
    <% end %>

    <%= render 'projects/github' if @project.github_repository.present? %>
  </div>

  <div class='col-md-4'>
    <% if @versions.any? %>
    <strong>
      <%= pluralize @versions.count, 'version' %>
    </strong>
    <% if @versions.last.published_at.present? %>
      since
      <%= @versions.last.published_at.to_date.to_s(:long) %>
    <% end %>
    <ul>
      <% @versions.each do |version| %>
      <li>
        <% if version == @version %>
          <strong><%= version %></strong>
        <% else %>
          <%= link_to version, version_path(version.to_param) %>
        <% end %>
        <% if version.published_at.present? %>
        - <%= version.published_at.to_date.to_s(:long) %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>

    <% if @related && @related.any? %>
      <hr>
      <strong>Related Projects</strong>
      <ul>
        <% @related.each do |project| %>
        <li class='project'>
          <strong><%= link_to project.name, project_path(project.to_param) %></strong>
          <small><%= link_to project.platform, platform_path(project.platform.downcase) %>
            <% if project.licenses.present? %>
            - <%= project.licenses %>
            <% end %>
          </small>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<!--
install command
authors/owners/maintainers
links (source, homepage, bugs)
dependencies
dev dependencies
reverse dependencies
readme
downloads
stars
download archive
 -->
