<div class='row'>
  <div class='col-md-8'>
    <h3>
      <%= @project.name %>
      <small>
        <%= link_to @project.platform, platform_path(@project.platform) %>
        <% if @version %>
          - <%= @version %>
        <% elsif @versions.any? %>
          - <%= @versions.first %>
        <% end %>

      </small>
    </h3>

    <%= simple_format(@project.description) if @project.description.present? %>

    <% if @project.keywords.present? %>
    <p>
      Keywords: <%= @project.keywords %>
    </p>
    <% end %>

    <% if @project.licenses.present? %>
    <p>
      Licenses: <%= @project.licenses %>
    </p>
    <% end %>

    <% if @project.homepage.present? %>
    <p>
      Homepage: <%= link_to(@project.homepage, @project.homepage) %>
    </p>
    <% end %>
    <% if link = package_link(@project.name, @project.platform, @version.try(:number)) %>
    <p>
      On <%= @project.platform %>: <%= link_to link, link %>
    </p>
    <% end %>
    <%= render 'projects/github' if @project.github_url.present? %>
  </div>

  <div class='col-md-4'>
    <% if @versions.any? %>
    <strong>
      <%= pluralize @versions.count, 'version' %>
    </strong>
    <% if @versions.last.published_at.present? %>
      since
      <%= @versions.last.published_at.to_date.to_s(:long) %>
    <% end %>
    <ul>
      <% @versions.each do |version| %>
      <li>
        <% if version == @version %>
          <strong><%= version %></strong>
        <% else %>
          <%= link_to version, [@project, version] %>
        <% end %>
        <% if version.published_at.present? %>
        - <%= version.published_at.to_date.to_s(:long) %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

<!--
install command
authors/owners/maintainers
links (source, homepage, bugs)
dependencies
dev dependencies
reverse dependencies
readme
downloads
stars
download archive
 -->
