<% title "All #{@project} tagged releases on #{@project.platform_name} - Libraries.io" %>
<% content_for :atom, auto_discovery_link_tag(:atom, project_tags_url({format: "atom"}.merge(@project.to_param))) %>

<h1><%= link_to @project, project_path(@project.to_param) %> tagged releases</h1>
<div class="row">
  <div class="col-sm-8">
    <% if @tags.any? %>
      <table class='table'>
        <% @tags.each do |tag| %>
        <tr>
          <td>
            <%= link_to tag, version_path(@project.to_param.merge(number: tag.name)) %>
          </td>
          <% if tag.published_at.present? %>
            <td>
              <small class='text-muted'>
                <%= tag.published_at.to_s(:long_ordinal) %>
              </small>
            </td>
          <% end %>
          <td>
            <small class='text-muted'>
              <%= link_to tag.repository_url do %>
                <%= fa_icon('tag') %>
                Browse source on <%= tag.repository.host_type %>
              <% end %>
            </small>
          </td>
          <td>
            <% if tag.previous_tag %>
              <small class='text-muted'>
                <%= link_to tag.diff_url do %>
                  <%= fa_icon('random') %>
                  View diff between <%= tag %> and <%= tag.previous_tag %>
                <% end %>
              </small>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>

      <%= will_paginate @tags, page_links: false %>
      <%= link_to project_tags_path(@project.to_param.merge(format: :atom)) do %>
        <%= fa_icon "rss-square" %>
        Subscribe to an RSS feed of <%= @project %> releases
      <% end %>
    <% else %>
      <p>
        No tags found, go back to <%= link_to @project, project_path(@project.to_param) %>.
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">

  </div>
</div>
