<% title "Trending Packages - Libraries.io" %>
<h1><i class="fa fa-line-chart"></i> Trending Packages</h1>

<div class="row">
  <div class="col-sm-8">
    <%= render @projects %>
    <%= will_paginate @projects, page_links: false %>
  </div>
  <div class="col-sm-4">
    <div class='row'>
      <% if @platforms.any? %>
        <div class='col-md-12 facets'>
          <h4>Filter by Package Manager</h4>
          <ul class='filter'>
            <% @platforms.each do |platform| %>
              <li class='<%= 'active' if platform[0].downcase == params[:platform].try(:downcase) %>'>
                <% if platform[0].downcase == params[:platform].try(:downcase) %>
                  <%= link_to platform_name(platform[0]), trending_projects_path(platforms: nil, license: params[:license]) %>
                <% else %>
                  <%= link_to platform_name(platform[0]), trending_projects_path(platforms: platform_name(platform[0]), license: params[:license]) %>
                  <small><%= pluralize number_to_human(platform[1]), 'packages' %></small>
                <% end %>
              </li>
            <% end %>
            <% if @platform && !@platforms.map{|l| l[0].downcase }.include?(@platform.name.downcase) %>
              <li class='active'>
                <%= link_to platform_name(@platform.name), trending_projects_path(platforms: nil, license: params[:license]) %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
