<% title "#{@platform_name} Libraries without licenses - Libraries.io" %>
<% description "Help the community by encouraging the authors to add a LICENSE file to their #{@platform_name} libraries." %>
<div class="row">
  <h1><i class="fa fa-copyright"></i> <%= @platform_name %> Libraries without licenses</h1>
</div>
<hr>

<div class="row">
  <div class="col-sm-8">
    <% @projects.each do |project| %>
      <div class="row">
        <div class='col-xs-8'>
          <%= render project %>
        </div>
        <div class="col-xs-4">
          <br>
          <%= link_to project.github_repository.try(:url), class: 'btn btn-primary' do %>
          Suggest a License
          <% end %>
          <% if current_user && current_user.admin? %>
            <%= link_to admin_project_path(project.id), class: 'btn' do %>
              <%= fa_icon 'gear' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= will_paginate @search, page_links: false %>
    <p>
      <small><%= page_entries_info @search, model: 'libraries without licenses' %></small>
    </p>
  </div>
  <div class="col-sm-4 facets">
    <%= render 'adsense/sidebar' %>
    <h3>
      <strong>
        What's the deal with licenses?
      </strong>
    </h3>
    <p>
      Over <strong>30%</strong> of all open source libraries published aren't licensed correctly, by using a library in your code that doesn't have a license you could be in breach of copyright.
    </p>
    <p>
      Theoretically the author could assert copyright at any time and demand that you stop using their code.
    </p>
    <p>
      Code without an explicit license is protected by copyright and is by default All Rights Reserved. The person or people who wrote the code are protected as such. Any time you're using software you didn't write, licensing should be considered and abided.
    </p>
    <p>
      This is a list of the most popular/important libraries that we couldn't find a license for, you can help the community by encouraging the authors to add a <code>LICENSE</code> file to their repositories.
    </p>
    <p>
      Find out more about open source licensing at <%= link_to 'ChooseALicense.com','http://choosealicense.com/' %>
    </p>
    <h3>
      <strong>
        Filter by package manager
      </strong>
    </h3>
    <% @search.response.facets.each do |name, facet| %>
      <% next if facet['terms'].empty? %>
      <h4><%= name.humanize %></h4>
      <ul class='filter'>
        <% facet['terms'].each do |term| %>
          <% next if term['term'].blank? %>
          <% active = term['term'] == params[name.to_sym] %>
          <li class='<%= 'active' if active %>'>
            <% if active %>
              <%= link_to platform_name(term['term']), url_for(params.merge(name.to_sym => nil, page: nil)) %>
            <% else %>
              <%= link_to platform_name(term['term']), url_for(params.merge(name.to_sym => term['term'], page: nil)) %>
              <small><%= number_to_human term['count'] %></small>
            <% end %>
          </li>
        <% end %>
        <% if params[name.to_sym].present? && !facet['terms'].map{|t| t['term']}.include?(params[name.to_sym]) %>
          <li class='active'>
            <%= link_to platform_name(params[name.to_sym]), url_for(params.merge(name.to_sym => nil, page: nil)) %>
          </li>
        <% end %>
      </ul>
    <% end %>

  </div>
</div>
