<%= render 'payola/transactions/stripe_header' %>
<% title 'Pricing - Libraries.io' %>
<div class="row">
  <div class="col-md-6">
    <h1>Pricing</h1>
  </div>
  <div class="col-md-6">
    <br>
    <br>
    <% other_interval = @interval == 'year' ? 'month' : 'year' %>
    <%= link_to "Switch to #{other_interval.capitalize}ly Pricing #{'and Get One Month Free' if other_interval == 'year'}", pricing_path(interval: other_interval), class: "pull-right btn btn-#{other_interval == 'year' ? 'success' : 'default'}" %>
  </div>
</div>

<div class="row">
  <div class="plan col-md-3  text-center">
    <h4>Open Source</h4>
    <p>
      Free forever
    </p>
    <p>
      Unlimited public repositories
    </p>
    <% if @interval == 'year' %>
    <p>
      &nbsp;
    </p>
    <% end %>
    <p>
      &nbsp;
    </p>
    <%= link_to 'Get started', repositories_path, class: 'btn btn-primary' %>
  </div>
  <% @plans.each do |plan| %>
    <div class="plan col-md-3 text-center">
      <h4><%= plan.short_name %></h4>
      <p>
        <%= number_to_currency plan.amount/100.0, unit: '£' %> per <%= plan.interval %>
      </p>
      <p>
        Unlimited public repositories
      </p>
      <p>
        <strong><%= plan.repo_count %></strong> private repositories
      </p>
      <% if @interval == 'year' %>
      <p>
        One Month Free
      </p>
      <% end %>
      <% if current_user && current_user.current_plan == plan %>
        <%= link_to 'Your Current Plan', repositories_path, class: 'btn btn-success' %>
      <% else %>
        <% if current_user %>
          <% if current_user.has_active_subscription? %>
            <%= mail_to 'support@libraries.io','Contact us to change plan', subject: 'Change Plan', class: 'btn btn-primary' %>
          <% else %>
            <% button_text = current_user && current_user.has_active_subscription? ? 'Switch Plan' : 'Subscribe Now'  %>
            <%= render 'payola/subscriptions/checkout', plan: plan, email: current_user.email, button_text: button_text, currency: 'gbp', billing_address: true, allow_remember_me: true, verify_zip_code: true, plan_image_path: asset_path('stripe-logo.png') %>
          <% end %>
        <% else %>
          <%= link_to 'Subscribe Now', login_path(return_to: pricing_path), class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <p class='text-center'>
      <br><br>
      We're also offering customer plans if you need to track even more repositories. For any questions, <%= mail_to 'support@libraries.io', 'contact us!', subject: 'Custom Libraries.io Plan' %>
    </p>
  </div>
</div>
