<div class="row">
  <div class="col-md-10">
    <div class='project' style="border-color: <%= project.color %>;">
      <h5>
        <%= link_to project.name, project_path(project.to_param) %>
        <small><%= project.latest_version %></small>
      </h5>

      <div class="">
        <%= truncate project.description, :length => 100 %>
      </div>

      <small>
        <%= link_to project.platform_name, platform_path(project.platform.downcase) %> -
        <% if project.language.present? && project.language != project.platform %>
          <%= link_to project.language, language_path(project.language) %> -
        <% end %>
        <% if project.normalized_licenses.present? %>
          <%= linked_licenses project.normalized_licenses %> -
        <% end %>
        <%= project.versions_count > 1 ? 'Updated' : 'Published' %>
        <%= time_ago_in_words project.latest_release_published_at %> ago
        <% if project.stars > 0 %>
         - <%= number_to_human project.stars %> stars
        <% end %>
      </small>
    </div>
  </div>
  <div class="col-md-2">
    <br>
    <%= link_to fa_icon('eye'), subscribe_path(project_id: project.id), class: 'tip btn btn-default', rel: 'nofollow', title: "Watch for new releases of #{project.name}" %>
  </div>
</div>
