<tr class='project' style="border-color: <%= subscription.project.color %>;">
  <td>
    <h5>
      <%= link_to subscription.project, project_path(subscription.project.to_param) %>
    </h5>
  </td>
  <td>
    <h5><small><%= subscription.project.latest_release_number %></small></h5>
  </td>
  <td>
    <h5><small>Last updated <%= timeago_tag(subscription.project.latest_release_published_at) %></small></h5>
  </td>
  <td>
    <div class="btn-group">
      <span class='btn btn-primary'>Subscribed <%= '(stable)' unless subscription.include_prerelease? %></span>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= form_for subscription do |form| %>
            <label class='include_prerelease'><%= form.check_box :include_prerelease %> &nbsp;Include prereleases</label>
          <% end %>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <%= link_to 'Unsubscribe from updates', subscription_path(subscription), class: 'text-danger', method: :delete %>
        </li>
      </ul>
    </div>
  </td>
</tr>
