<h1>Unlicensed Github repos that might be MIT</h1>

<% @github_repositories.each do |repo| %>
  <div class="row">
    <%= render object: repo, partial: 'github_repositories/github_repository' %>
    <% if repo.readme.plain_text.match(/mit license/i) %>
      <textarea name="name" rows="20" cols="120">
        <%= repo.readme.plain_text %>
      </textarea>
      <%= simple_form_for(repo, url: admin_github_repository_path(repo.id), html: { class: 'form-vertical col-md-6', target: :blank }) do |form| %>
        <%= form.input :license, as: :hidden, input_html: {value: 'MIT'} %>
        <%= form.submit 'MIT Licensed', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= will_paginate @github_repositories, renderer: BootstrapPagination::Rails, page_links: false %>
