<% title "Projects tagged with '#{@keyword}' - Libraries.io" %>
<% description "A detailed listing of the most popular, recently updated and most watched #{@keyword} projects online" %>
<% content_for :atom, auto_discovery_link_tag(:atom, search_url(keywords: @keyword, sort: 'latest_release_published_at', order: 'desc', format: :atom), title: "Updated #{@keyword} Projects") %>
<% content_for :atom, auto_discovery_link_tag(:atom, search_url(keywords: @keyword, sort: 'created_at', order: 'desc', format: :atom), title: "New #{@keyword} Projects") %>

<% cache([@keyword, 'keywords:show', 'v1'], :expires_in => 1.hour) do %>
<div class="row">
  <div class="col-sm-6">
    <h1>
      Projects tagged with "<%= @keyword %>"
    </h1>
  </div>
  <div class="col-sm-6">
    <br>
    <p>
      Total Packages: <%= number_with_delimiter Project.keyword(@keyword).count %>
    </p>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-md-8">
    <div class='row'>
      <% if @popular.any? %>
      <div class='col-sm-6 platform-column'>
        <h4>
          Popular "<%= @keyword %>" Projects
          <small class='more'>
            <%= link_to 'See more &raquo;'.html_safe, search_path(keywords: @keyword, sort: 'rank', order: 'desc') %>
          </small>
        </h4>
        <%= render @popular, cache: true %>
      </div>
      <% end %>

      <% if @created.any? %>
      <div class='col-sm-6 platform-column'>
        <h4>
          <%= link_to search_url(keywords: @keyword, sort: 'created_at', order: 'desc', format: :atom), class: 'rss' do %>
            <%= fa_icon "rss-square" %>
          <% end %>
          New "<%= @keyword %>" Projects
          <small class='more'>
            <%= link_to 'See more &raquo;'.html_safe, search_path(keywords: @keyword, sort: 'created_at', order: 'desc') %>
          </small>
        </h4>
        <%= render @created, cache: true %>
      </div>
      <% end %>

      <% if @updated.any? %>
      <div class='col-sm-6 platform-column'>
        <h4>
          <%= link_to search_url(keywords: @keyword, sort: 'latest_release_published_at', order: 'desc', format: :atom), class: 'rss' do %>
            <%= fa_icon "rss-square" %>
          <% end %>
          Updated "<%= @keyword %>" Projects
          <small class='more'>
            <%= link_to 'See more &raquo;'.html_safe, search_path(keywords: @keyword, sort: 'latest_release_published_at', order: 'desc') %>
          </small>
        </h4>
        <%= render @updated, cache: true %>
      </div>
      <% end %>

      <% if @watched.any? %>
      <div class='col-sm-6 platform-column'>
        <h4>Most Watched "<%= @keyword %>" Projects</h4>
        <%= render @watched, cache: true %>
      </div>
      <% end %>

      <% if @dependent_repos.any? %>
        <div class='col-sm-6 platform-column'>
          <h4>Most Used "<%= @keyword %>" Projects</h4>
          <%= render @dependent_repos, cache: true %>
        </div>
      <% end %>

      <% if @dependend.any? %>
        <div class='col-md-6 platform-column'>
          <h4>Most Depended upon "<%= @keyword %>" Projects</h4>
          <%= render @dependend, cache: true %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class='row'>
      <% if @languages.many? %>
      <div class='col-md-12 col-sm-4'>
        <h4>
          <%= fa_icon 'code' %>
          Top "<%= @keyword %>" Languages
        </h4>
        <%= render partial: 'languages/list_language', collection: @languages, as: :language %>
      </div>
      <% end %>

      <% if @platforms.many? %>
      <div class='col-md-12 col-sm-4'>
        <h4>
          <%= fa_icon 'archive' %>
          Top "<%= @keyword %>" Package Managers
        </h4>
        <%= render partial: 'platforms/list_platform', collection: @platforms, as: :platform %>
      </div>
      <% end %>

      <% if @licenses.many? %>
      <div class='col-md-12 col-sm-4'>
        <h4>
          <%= fa_icon 'gavel' %>
          Top "<%= @keyword %>" Licenses
        </h4>
        <%= render partial: 'licenses/list_license', collection: @licenses, as: :license %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
