<% version = dep[:version] %>
<% project = version.project %>
<% requirements = dep[:requirements] %>
<li>
  <%= link_to project, version_path(version.to_param) %>
  -
  <%= link_to version.number, version_path(version.to_param), class: 'tip', title: 'Resolved version' %>
  -
  <em class='text-muted'>
    <span class="tip" title="Specified version range"><%= requirements %></span>
    <%= '-' if requirements.present? %>
    <%= project.normalized_licenses.join(', ') %>
  </em>
  <% if dep[:dependency] %>
    <%#= render 'dependencies/flags', dependency: dep[:dependency] %>
  <% end %>
  <% if dep[:dependencies] && dep[:dependencies].any? %>
    <ul>
      <% dep[:dependencies].each do |dependency| %>
        <li>
          <% if dependency.is_a?(Hash) && dependency[:version].is_a?(Version) %>
            <%= render 'dep', dep: dependency %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>
