<% version = dep[:version] %>
<% dependency = dep[:dependency] %>
<% requirements = dep[:requirements] %>
<% version_path_value = version_path({platform: dependency[:platform], name: dependency[:project_name], number: version[:number]}) %>
<li>
  <%= link_to dependency[:project_name], version_path_value %>
  -
  <%= link_to version[:number], version_path_value, class: 'tip', title: 'Resolved version' %>
  -
  <em class='text-muted'>
    <span class="tip" title="Specified version range"><%= requirements %></span>
    <%= '-' if requirements.present? %>
    <%= Array.wrap(dep[:normalized_licenses]).join(', ') %>
  </em>
  <% if dep[:dependencies] && dep[:dependencies].any? %>
    <ul>
      <% dep[:dependencies].each do |dependency| %>
        <li>
          <% if dependency.is_a?(Hash) %>
            <%= render 'dep', dep: dependency %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>
