<% title "#{@kind if @kind != 'runtime'} Dependency Tree for #{@project} #{@version} on #{@project.platform_name}" %>
<h1>
  <%= fa_icon 'code-fork' %>
  <%= @kind if @kind != 'runtime' %>
  Dependency Tree for <%= link_to "#{@project} #{@version}", version_path(@version.to_param) %> on <%= link_to @project.platform, platform_path(@project.platform) %>
</h1>
<% if @date != nil %>
<p>
  <small>
      As if it was resolved on <%= @date.to_formatted_s(:long_ordinal)  %>
  </small>
</p>
<% end %>

<hr>

<div class="row">
  <div id="tree">
    <%= render 'tree/tree', tree: @tree %>
  </div>
</div>
