<h1>
  <%= fa_icon 'code-fork' %>
  Dependency Tree for <%= link_to "#{@project} #{@version}", version_path(@version.to_param) %> on <%= link_to @project.platform, platform_path(@project.platform) %>
</h1>

<hr>
<div class="row">
  <div class="col-sm-8">
    <ul class='tree'>
      <%= render partial: 'tree/dependency', locals: {project: @project, version: @version, requirements: '', dependency: nil, index: 0} %>
    </ul>
    <hr>
    <p>
      Unique dependencies: <%= @project_names.uniq.length %>
    </p>
    <p>
      Unique licenses: <%= @license_names.flatten.uniq.length %> <em class='text-muted'><%= @license_names.flatten.uniq.join(', ') %></em>
    </p>
  </div>
  <div class="col-sm-4">
    <%= render 'adsense/sidebar' %>
  </div>
</div>
