<% title "#{@kind if @kind != 'normal'} Dependency Tree for #{@project} #{@version} on #{@project.platform_name} - Libraries" %>
<h1>
  <%= fa_icon 'code-fork' %>
  <%= @kind if @kind != 'normal' %>
  Dependency Tree for <%= link_to "#{@project} #{@version}", version_path(@version.to_param) %> on <%= link_to @project.platform, platform_path(@project.platform) %>
</h1>

<hr>
<div class="row">
  <div class="col-sm-8">
    <% cache ['tree', @project, @version, @kind], expires_in: 1.hour do  %>
      <ul class='tree'>
        <%= render partial: 'tree/dependency', locals: {project: @project, version: @version, requirements: '', dependency: nil, index: 0} %>
      </ul>
      <hr>
      <p>
        Unique dependencies: <%= @project_names.uniq.length %>
      </p>
      <p>
        Unique licenses: <%= @license_names.flatten.uniq.length %> <em class='text-muted'><%= @license_names.flatten.uniq.join(', ') %></em>
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= render 'adsense/sidebar' %>
  </div>
</div>
