<% title "Issues on #{@user}'s Dependencies - Libraries.io" %>
<div class="row">
  <div class="col-md-12">
    <h1>
      <i class="fa fa-bug"></i> Issues on <%= link_to @user, user_path(@user.to_param) %>'s Dependencies</h1>
    <p>
      Showing <%= number_to_human @search.total_entries %> open issues across <%= number_to_human @repo_ids.length %> repositories that <%= link_to @user, user_path(@user.to_param) %>'s repositories depend upon.
    </p>
  </div>
</div>

<hr>
<div class='row'>
  <div class='col-sm-8'>
      <%= render @issues, cache: true %>
      <%= will_paginate @search, page_links: false %>
      <p>
        <small>
          <%= page_entries_info @search, model: 'issues' %>
        </small>
      </p>
  </div>
  <div class="col-sm-4 facets">
    <% @facets.each do |name, facet| %>
      <% facet = facet[facet.keys.last] %>
      <% next if facet.buckets.empty? %>
      <h4><%= name.humanize %></h4>
      <ul class='filter'>
        <% facet.buckets.each do |term| %>
          <% next if term['key'].blank? %>
          <%= render 'search/term', term: term, name: name %>
        <% end %>
        <% if params[name.to_sym].present? && !facet.buckets.map{|t| t['key']}.include?(params[name.to_sym]) %>
          <li class='active'>
            <%= link_to platform_name(params[name.to_sym]), url_for(params.except(:host).merge(name.to_sym => nil, page: nil).permit!) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
