<% title "Libraries that #{@user} depends on the most - Libraries.io" %>

<h1>
  <%= image_tag @user.avatar_url(120), width: 60, height: 60, alt: @user %>
  Libraries that <%= link_to @user, user_path(@user.to_param) %> depends on the most
</h1>
<hr>
<div class="row">
  <div class="col-sm-8">
    <% if @projects.any? %>
      <%= render @projects, cache: true  %>
      <%= will_paginate @projects, page_links: false %>
    <% else %>
      <p>
        No projects found, go back to <%= link_to @user, user_path(@user.to_param) %>.
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h3>
      <strong>
        Where do these come from?
      </strong>
    </h3>
    <p>
      This is a list of every library that <%= link_to @user, user_path(@user.to_param) %>'s
      open source repositories list as a dependency, ordered by most used.
    </p>
  </div>
</div>
