<h1>
  <%= image_tag @user.avatar_url(120), width: 60, height: 60, alt: @user %>
  Packages referencing <%= link_to @user, user_path(@user.to_param) %>'s Repositories
</h1>
<hr>
<div class="row">
  <div class="col-sm-8">
    <% if @projects.any? %>
      <%= render @projects  %>
      <%= will_paginate @projects, page_links: false %>
    <% else %>
      <p>
        No packages found, go back to <%= link_to @user, user_path(@user.to_param) %>.
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h3>
      <strong>
        Where do these come from?
      </strong>
    </h3>
    <p>
      This is a list of every package published to a package manager that references one of <%= link_to @user, user_path(@user.to_param) %>'s repositories as its source.
    </p>
  </div>
</div>
