<% title "#{@user}'s Repositories - Libraries.io" %>

<h1>
  <%= image_tag @user.avatar_url(120), width: 60, height: 60, alt: @user %>
  <%= link_to @user, user_path(@user.to_param) %>'s Repositories
</h1>
<hr>

<div class="row">
  <div class="col-sm-8">
    <% if @repositories.any? %>
      <%= render @repositories, cache: true  %>
      <%= will_paginate @repositories, page_links: false %>
    <% else %>
      <p>
        No packages found, go back to <%= link_to @user, user_path(@user.to_param) %>.
      </p>
    <% end %>
  </div>
  <div class="col-sm-4">

  </div>
</div>
