<% title "Activity for #{@repository} on #{@repository.host_type} - Libraries.io" %>
<% description "Dependency activity accross #{number_to_human(@total)} open source repositories that depend on #{@repository} on #{@repository.host_type}" %>
<% content_for :meta, render_meta(@repository) %>

<h1>
  <%= fa_icon 'line-chart' %>
  Activity for <%= link_to @repository, repository_path(@repository.to_param) %>
</h1>

<p>
  Dependency activity across <strong><%= number_to_human(@total) %></strong> dependencies
</p>
<% if @chart_data.any? %>

  <%= line_chart @chart_data %>

  <hr>
  <div class="row">
    <div class="col-sm-8">
      <h4>
        Recent depenednecy activity for <%= link_to @repository, repository_path(@repository.to_param) %>
        <% if params[:requirements].present? %>
          <code><%= params[:requirements] %></code>
        <% end %>
      </h4>

      <%= render collection: @activities, partial: 'activity', cache: true %>
      <%= will_paginate @activities, page_links: false %>
    </div>
    <div class="col-sm-4">
      <h4>
        <%= fa_icon 'link' %>
        Filter by Action
      </h4>
      <ul class='filter'>
        <% @types.sort_by{|k,v| -v}.each do |type, count| %>
          <% next unless type.present? %>
          <% active = type == params[:type] %>
          <li class='<%= 'active' if active %>'>
            <% if active %>
              <%= link_to type, repository_activities_path) %>
            <% else %>
              <%= link_to type, repository_activities_path(type: type)) %>
              <small><%= number_to_human(count) %></small>
            <% end %>
          </li>
        <% end %>
      </ul>
      <h4>
        <%= fa_icon 'arrows-h' %>
        Filter by required version range
      </h4>
      <ul class='filter'>
        <% sort_by_semver_range(@all_counts, 60).each do |requirements,count| %>
          <% next unless requirements.present? %>
          <% active = requirements == params[:requirements] %>
          <li class='<%= 'active' if active %>'>
            <% if active %>
              <%= link_to requirements, project_activity_path() %>
            <% else %>
              <%= link_to requirements, project_activity_path(requirements: requirements, type: nil) %>
              <small><%= number_to_human(count) %></small>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  No dependent repositories found.
<% end %>
