<p>
  Hi <%= @user.nickname %>
</p>

<p>
  I detected a new release (<%= link_to @version.number, version_url(@project.to_param.merge(number: @version.number)) %>)
  of <%= link_to @project, project_url(@project.to_param) %>
  on <%= link_to @project.platform, platform_url(@project.platform.downcase) %>
  <% if @version.published_at.present? %>
  at <%= @version.published_at.to_s(:long) %>
  <% end %>
</p>

<% if @repos.any? %>
<p>
  You depend on <%= link_to @project, project_url(@project.to_param) %> in the following repos:
  <%= @repos.map{|repo| link_to repo.full_name, github_repository_url(repo.owner_name, repo.project_name) }.to_sentence.html_safe %>
</p>
<% end %>

<p>
  Check out all the details here: <%= link_to version_url(@project.to_param.merge(number: @version.number)), version_url(@project.to_param.merge(number: @version.number)) %>
</p>

<% if @project.github_repository.present? %>
<p>
  You can also browse the latest commits on GitHub: <%= link_to @project.github_repository.commits_url, @project.github_repository.commits_url %>
</p>
<% end %>

<p>
  From your friendly neighborhood robot, Libby.
</p>
<hr>
<p>
  <em>p.s. You can manage and unsubscribe from subscriptions here: <%= link_to subscriptions_url, subscriptions_url %></em>
</p>
