<% title 'Stats - Libraries' %>
<h1>Stats</h1>

<div class="row">
  <%= stats_for('Users', @new_users) %>
  <%= stats_for('Subscriptions', @new_subscriptions) %>
  <%= stats_for('Projects', @new_projects) %>
  <%= stats_for('Versions', @new_versions) %>
</div>

<div class="row">
  <%= stats_for('Readmes', @new_readmes) %>
  <%= stats_for('Repos', @new_repos) %>
  <%= stats_for('GitHub Users', @new_github_users) %>
  <%= stats_for('Tags', @new_tags) %>
</div>

<div class="row">
  <%= stats_for('Dependencies', @new_deps) %>
  <%= stats_for('Repo Subscriptions', @new_repo_subs) %>
  <%= stats_for('Manifests', @new_manifests) %>
  <%= stats_for('Contributions', @new_contributions) %>
</div>

<div class="row">
  <%= stats_for('Repo Dependencies', @new_repo_deps) %>
  <%= stats_for('Orgs', @new_orgs) %>
</div>
