<% title 'Stats - Libraries' %>
<h1>Stats</h1>

<div class="row">
  <div class="col-md-12">
    <h5><strong>Recent Signups</strong></h5>
    <% @recent_users.each do |user| %>
      <%= link_to image_tag(user.avatar_url, width: 60, height: 60, alt: user, class: 'pull-left'), user_path(user.nickname), class: 'tip', style: 'display:block; float:left;', title: "#{user.nickname}: #{pluralize(user.subscriptions.count, 'subs')}, #{pluralize(user.github_repositories.count, 'repo')}, #{pluralize(user.repository_subscriptions.count, 'track')}" %>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <%= stats_for('Users', @new_users) %>
  <%= stats_for('Subscriptions', @new_subscriptions) %>
  <%= stats_for('Projects', @new_projects) %>
  <%= stats_for('Versions', @new_versions) %>
</div>

<div class="row">
  <%= stats_for('Orgs', @new_orgs) %>
  <%= stats_for('Readmes', @new_readmes) %>
  <%= stats_for('GitHub Users', @new_github_users) %>
  <%= stats_for('Manifests', @new_manifests) %>
</div>

<div class="row">
  <%= stats_for('Repo Subscriptions', @new_repo_subs) %>
</div>
