<%= render 'admin/nav' %>
<% title 'Admin Overview' %>
<div class="row">
  <div class="col-md-6">
    <h2>
      <%= number_to_human User.fast_total %> Users
    </h2>

    <h2>
      <%= number_to_human Project.fast_total %> Packages
    </h2>

    <h2>
      <%= number_to_human Version.fast_total %> Versions
    </h2>

    <h2>
      <%= number_to_human Dependency.fast_total %> Dependencies
    </h2>

    <h2>
      <%= number_to_human Subscription.fast_total %> Subscriptions
    </h2>

    <h2>
      <%= number_to_human RepositorySubscription.fast_total %> Repository Subscriptions
    </h2>
  </div>

  <div class="col-md-6">
    <h2>
      <%= number_to_human Repository.fast_total %> Repositories
    </h2>

    <h2>
      <%= number_to_human RepositoryUser.fast_total %> Repository Users
    </h2>

    <h2>
      <%= number_to_human RepositoryOrganisation.fast_total %> Repository Orgs
    </h2>

    <h2>
      <%= number_to_human Contribution.fast_total %> Contributions
    </h2>

    <h2>
      <%= number_to_human Tag.fast_total %> Tags
    </h2>

    <h2>
      <%= number_to_human RepositoryPermission.fast_total %> Repository Permissions
    </h2>
    <h2>
      <%= number_to_human Readme.fast_total %> Readmes
    </h2>
  </div>
</div>
