<h4>
  <%= fa_icon 'archive' %>
  <%= link_to 'Package Managers', platforms_path %>
</h4>
<div class='pictogram-list'>
  <% @platforms.each do |platform| %>
    <a class="pictogram tip pictogram-<%= platform.downcase %>" href='<%= platform %>' title='<%= platform %>'></a>
  <% end %>
</div>
<p>
  Package manager not listed above? <%= link_to 'Consider adding support for it', "https://github.com/librariesio/libraries.io/blob/main/docs/add-a-package-manager.md" %>.
</p>
<hr>
<h4>
  <%= fa_icon 'code' %>
  <%= link_to 'Popular Languages', languages_path %>
</h4>
<div class='pictogram-list'>
  <% @languages.each do |language| %>
    <a class="pictogram tip pictogram-<%= language.downcase %>" title='<%= language %>' href='<%= language_path(language) %>'></a>
  <% end %>
</div>
