<h4>
  <%= fa_icon 'archive' %>
  <%= link_to 'Package Managers', platforms_path %>
</h4>
<div class='pictogram-list'>
  <% @platforms.each do |platform| %>
    <% next if platform['key'].downcase == 'go' %>
    <a class="pictogram tip pictogram-<%= platform['key'].downcase %>" href='<%= platform['key'] %>' title='<%= platform['key'] %>'></a>
  <% end %>
</div>
<p>
  Package manager not listed above? <%= link_to 'Consider adding support for it', "https://github.com/librariesio/libraries.io/blob/master/docs/add-a-package-manager.md" %>.
</p> 
<hr>
<h4>
  <%= fa_icon 'code' %>
  <%= link_to 'Popular Languages', languages_path %>
</h4>
<div class='pictogram-list'>
  <% @languages.each do |language| %>
    <a class="pictogram tip pictogram-<%= language['key'].downcase %>" title='<%= language['key'] %>' href='<%= language_path(language['key']) %>'></a>
  <% end %>
</div>
<hr>
<h4>
  <%= fa_icon 'gavel' %>
  <%= link_to 'Popular Licenses', licenses_path %>
</h4>
<% @licenses.each do |license| %>
  <p class='list'>
    <strong><%= link_to format_license(license['key']), license_path(license['key']) %></strong>
    <small><%= pluralize number_to_human(license['doc_count']), 'project' %></small>
  </p>
<% end %>
<hr>
<h4>
  <%= fa_icon 'tags' %>
  <%= link_to 'Popular Keywords', keywords_path %>
</h4>
<% @keywords.each do |keyword| %>
  <% if keyword['key'].present? %>
    <p class='list'>
      <strong><%= link_to keyword['key'], keyword_path(keyword['key']) %></strong>
      <small><%= pluralize number_to_human(keyword['doc_count']), 'project' %></small>
    </p>
  <% end %>
<% end %>
