<% title "Explore - Libraries.io" %>
<% description "Find new packages and repositories" %>

<div class="row">
  <div class="col-md-12">
    <h1 class='header'>
      <%= fa_icon 'binoculars' %>
      Explore Libraries.io
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#new_projects" data-toggle="tab">
          <%= fa_icon 'bullhorn' %>
          New Packages
        </a>
      </li>
    </ul>

    <div class="tab-content ">
      <div class="tab-pane active" id="new_projects">
        <%= render @new_projects %>
        <%= link_to search_path(sort: 'created_at'), class: 'text-muted' do %>
          See more new packages &raquo;
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
      <%= render 'sidebar' %>
  </div>
</div>
