<% title "Explore - Libraries.io" %>
<% description "Find popular and trending libraries by language and keyword" %>

<h1>
  <%= fa_icon 'binoculars' %>
  Explore Libraries.io
</h1>
<hr>
<div class="row">
  <div class="col-sm-8">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#trending_projects" data-toggle="tab">
          <%= fa_icon 'line-chart' %>
          Trending
        </a>
      </li>
      <li>
        <a href="#dependend_projects" data-toggle="tab">
          <%= fa_icon 'users' %>
          Most Used
        </a>
      </li>
      <li>
        <a href="#popular_projects" data-toggle="tab">
          <%= fa_icon 'star' %>
          Popular
        </a>
      </li>
    </ul>

    <div class="tab-content ">
      <div class="tab-pane active" id="trending_projects">
        <% cache 'explore-trending_projects', expires_in: 1.hour, race_condition_ttl: 2.minutes do %>
          <%= render @trending_projects, cache: true %>
        <% end %>
      </div>
      <div class="tab-pane" id="dependend_projects">
        <% cache 'explore-dependend_projects', expires_in: 1.week, race_condition_ttl: 2.minutes do %>
          <%= render @dependend_projects, cache: true %>
        <% end %>
      </div>
      <div class="tab-pane" id="popular_projects">
        <% cache 'explore-popular_projects', expires_in: 1.week, race_condition_ttl: 2.minutes do %>
          <%= render @popular_projects, cache: true %>
        <% end %>
      </div>
    </div>
    <hr>
    <h3>
      <%= fa_icon 'github' %>
      <%= link_to 'GitHub Repositories', github_path %>
    </h3>
    <ul class="nav nav-tabs">
			<li class="active">
        <a href="#trending_repos" data-toggle="tab">
          <%= fa_icon 'line-chart' %>
          Trending Repos
        </a>
			</li>
			<li>
        <a href="#popular_repos" data-toggle="tab">
          <%= fa_icon 'star' %>
          Popular Repos
        </a>
			</li>
			<li>
        <a href="#forked_repos" data-toggle="tab">
          <%= fa_icon 'code-fork' %>
          Most Forked Repos
        </a>
			</li>
		</ul>

		<div class="tab-content ">
		  <div class="tab-pane active" id="trending_repos">
        <% cache 'explore-trending_repos', expires_in: 1.hour, race_condition_ttl: 2.minutes do %>
          <%= render @trending_repos, cache: true %>
        <% end %>
			</div>
			<div class="tab-pane" id="popular_repos">
        <% cache 'explore-popular_repos', expires_in: 1.week, race_condition_ttl: 2.minutes do %>
          <%= render @popular_projects, cache: true %>
        <% end %>
			</div>
      <div class="tab-pane" id="forked_repos">
        <% cache 'explore-forked_repos', expires_in: 1.week, race_condition_ttl: 2.minutes do %>
          <%= render @forked_repos, cache: true %>
        <% end %>
			</div>
		</div>
  </div>
  <div class="col-sm-4">
    <% cache 'explore-sidebar', expires_in: 1.week do %>
      <%= render 'sidebar' %>
    <% end %>
  </div>
</div>
