<% title "Explore - Libraries.io" %>
<% description "Find trending and popular packages and repositories" %>

<div class="row">
  <div class="col-md-12">
    <h1 class='header'>
      <%= fa_icon 'binoculars' %>
      Explore Libraries.io
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#trending_projects" data-toggle="tab">
          <%= fa_icon 'line-chart' %>
          Trending
        </a>
      </li>
      <li>
        <a href="#new_projects" data-toggle="tab">
          <%= fa_icon 'bullhorn' %>
          New
        </a>
      </li>
      <li>
        <a href="#dependend_projects" data-toggle="tab">
          <%= fa_icon 'users' %>
          Most Used
        </a>
      </li>
    </ul>

    <div class="tab-content ">
      <div class="tab-pane active" id="trending_projects">
        <% cache 'explore-trending_projects', expires_in: 30.minutes, race_condition_ttl: 1.minute do %>
          <%= render @trending_projects, cache: true %>
        <% end %>
        <%= link_to trending_projects_path, class: 'text-muted' do %>
          See more trending packages &raquo;
        <% end %>
      </div>
      <div class="tab-pane" id="new_projects">
        <% cache 'explore-new_projects', expires_in: 10.minutes, race_condition_ttl: 1.minute do %>
          <%= render @new_projects, cache: true %>
        <% end %>
        <%= link_to search_path(sort: 'created_at'), class: 'text-muted' do %>
          See more new packages &raquo;
        <% end %>
      </div>
      <div class="tab-pane" id="dependend_projects">
        <% cache 'explore-dependend_projects', expires_in: 1.week, race_condition_ttl: 1.minute do %>
          <%= render project_search('dependents_count'), cache: true %>
        <% end %>
        <%= link_to search_path(sort: 'dependents_count'), class: 'text-muted' do %>
          See more most used packages &raquo;
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <% cache 'explore-sidebar', expires_in: 1.week do %>
      <%= render 'sidebar' %>
    <% end %>
  </div>
</div>
