<footer data-ga-tracked-el='footer'>
  <div class="container">
    <div class='row'>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <p>
            <%= link_to 'Libraries.io', root_path %> helps you find new open source packages, modules and frameworks and keep track of ones you depend upon.
          </p>
          <p>
            <a href="https://github.com/librariesio" title='GitHub'><%= fa_icon('github') %></a>&nbsp;
            <a href="mailto:support@libraries.io" title='Email'><%= fa_icon('envelope') %></a>&nbsp;
            <a href="https://github.com/librariesio/libraries.io/issues/new" title='Support'><%= fa_icon('question-circle') %></a>&nbsp;
          </p>
          <hr>
          <p>
            <%= link_to image_tag('Tidelift_project_logo_white.svg', width: 160), 'https://tidelift.com' %>
          </p>
          <p class='text-muted'>
            Copyright © <%= Date.today.year %> Tidelift, Inc<br>
            Code is Open Source under <%= link_to 'AGPLv3', 'https://github.com/librariesio/libraries.io/blob/main/LICENSE.txt' %> license<br>
            Data is available under <%= link_to 'CC-BY-SA 4.0', 'https://libraries.io/data' %> license
          </p>
      </div>
      <div class="col-xs-12 col-md-2">
        <strong><%= link_to 'Explore', '/explore' %></strong>
        <ul>
          <li><%= link_to 'Platforms', '/platforms' %></li>
          <li><%= link_to 'Languages', '/languages' %></li>
          <li><%= link_to 'Licenses', '/licenses' %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <ul class='list-unstyled'>
          <li><strong><%= link_to 'About', '/about' %></strong></li>
          <li><strong><%= link_to 'Team', '/team' %></strong></li>
          <li><strong><%= link_to 'Terms and Conditions', '/terms' %></strong></li>
          <li><strong><%= link_to 'Privacy Policy', '/privacy' %></strong></li>
          <li><strong><%= link_to 'API', '/api' %></strong></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
