<footer data-ga-tracked-el='footer'>
  <div class="container">
    <div class='row'>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <p>
            <%= link_to 'Libraries.io', root_path %> helps you find new open source packages, modules and frameworks and keep track of ones you depend upon.
          </p>
          <p>
            <a href="https://github.com/librariesio" title='GitHub'><%= fa_icon('github') %></a>&nbsp;
            <a href="mailto:support@libraries.io" title='Email'><%= fa_icon('envelope') %></a>&nbsp;
          </p>
          <hr>
          <p class='text-muted'>
            <%= link_to image_tag('logo.svg', width: 180, height: 45), 'https://sonarsource.com', class: 'navbar-brand' %><br>
            Copyright © <%= Date.today.year %> SourceSource SA<br>
            Code is Open Source under <%= link_to 'AGPLv3', 'https://github.com/librariesio/libraries.io/blob/main/LICENSE.txt' %> license<br>
            Data is available under <%= link_to 'CC-BY-SA 4.0', 'https://libraries.io/data' %> license
          </p>
      </div>
      <div class="col-xs-12 col-md-2">
        <strong><%= link_to 'Explore', '/explore' %></strong>
        <ul>
          <li><%= link_to 'Platforms', '/platforms' %></li>
          <li><%= link_to 'Languages', '/languages' %></li>
          <li><%= link_to 'Licenses', '/licenses' %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <strong>Sonar Products</strong>
        <ul class='list-unstyled'>
          <li><strong><a href='https://www.sonarsource.com/products/sonarlint/' target='_blank'>SonarQube for IDE</a></strong></li>
          <li><strong><a href='https://www.sonarsource.com/products/sonarqube/' target='_blank'>SonarQube Server</a></strong></li>
          <li><strong><a href='https://www.sonarsource.com/products/sonarcloud/' target='_blank'>SonarQube Cloud</a></strong></li>
          <li><strong><a href='https://www.sonarsource.com/products/sonarqube/advanced-security/' target='_blank'>SonarQube Advanced Security</a></strong></li>
        </ul>
        <strong>Sonar Resources</strong>
        <ul class='list-unstyled'>
          <li><strong><a href='https://www.sonarsource.com/company/about/' target='_blank'>About</a></strong></li>
          <li><strong><a href='https://www.sonarsource.com/blog/' target='_blank'>Blog</a></strong></li>
          <li><strong><a href='https://www.sonarsource.com/product-demos/' target='_blank'>Product demos</a></strong></li>
          <li><strong><a href='https://www.sonarsource.com/resources/events/' target='_blank'>Events hub</a></strong></li>
          <li><strong><a href='https://www.sonarsource.com/resources/customer-stories/' target='_blank'>Customer stories</a></strong></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <ul class='list-unstyled'>
          <li><strong><%= link_to 'Terms and Conditions', '/terms' %></strong></li>
          <li><strong><%= link_to 'Privacy Policy', '/privacy' %></strong></li>
          <li><strong><%= link_to 'API', '/api' %></strong></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
