<footer data-ga-tracked-el='footer'>
  <div class="container">
    <div class='row'>
      <div class="col-xs-12 col-sm-6 col-md-4">
          <p>
            <%= link_to 'Libraries.io', root_path %> helps you find new open source packages, modules and frameworks and keep track of ones you depend upon.
          </p>
          <p>
            <a href="https://twitter.com/librariesio" title='Twitter'><%= fa_icon('twitter') %></a>&nbsp;
            <a href="https://github.com/librariesio" title='GitHub'><%= fa_icon('github') %></a>&nbsp;
            <a href="https://www.facebook.com/libraries.io" title='Facebook'><%= fa_icon('facebook') %></a>&nbsp;
            <a href="mailto:support@libraries.io" title='Email'><%= fa_icon('envelope') %></a>&nbsp;
            <a href="https://slack.libraries.io/" title='Slack'><%= fa_icon('slack') %></a>&nbsp;
            <a href="https://github.com/librariesio/libraries.io/issues/new" title='Support'><%= fa_icon('question-circle') %></a>&nbsp;
          </p>
          <hr>
          <p>
            <%= link_to image_tag('Tidelift_project_logo_white.svg', width: 160), 'https://tidelift.com' %>
          </p>
          <p class='text-muted'>
            Copyright © <%= Date.today.year %> Tidelift, Inc<br>
            Open Source under <%= link_to 'AGPLv3', 'https://github.com/librariesio/libraries.io/blob/master/LICENSE.txt' %> license
          </p>
      </div>
      <div class="col-xs-12 col-md-2">
        <strong><%= link_to 'Explore', '/explore' %></strong>
        <ul>
          <li><%= link_to 'Platforms', '/platforms' %></li>
          <li><%= link_to 'Languages', '/languages' %></li>
          <li><%= link_to 'Licenses', '/licenses' %></li>
          <li><%= link_to 'Help Wanted', help_wanted_path %></li>
          <li><%= link_to 'First Pull Request', first_pull_request_path %></li>
          <li><%= link_to 'Unlicensed Packages', unlicensed_path %></li>
          <li><%= link_to 'Trending Repositories', trending_path %></li>
        </ul>
        <strong><%= link_to 'Experiments', '/experiments' %></strong>
        <ul>
          <li><%= link_to 'Bus Factor', bus_factor_path %></li>
          <li><%= link_to 'Digital Infrastructure', digital_infrastructure_path %></li>
          <li><%= link_to 'Unseen Infrastructure', unseen_infrastructure_path %></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <ul class='list-unstyled'>
          <li><strong><%= link_to 'About', '/about' %></strong></li>
          <li><strong><%= link_to 'Team', '/team' %></strong></li>
          <li><strong><%= link_to 'Terms and Conditions', '/terms' %></strong></li>
          <li><strong><%= link_to 'Privacy Policy', '/privacy' %></strong></li>
          <li><strong><%= link_to 'API', '/api' %></strong></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <form action="//libraries.us10.list-manage.com/subscribe/post?u=15c11768c94674bc6f18d079f&amp;id=848ac04a44" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form" novalidate>
          <p>
            Subscribe to the Libraries.io newsletter:
          </p>
          <input type="email" value="" name="EMAIL" size='20' placeholder='Your email...' class="form-control" id="mce-EMAIL">
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_15c11768c94674bc6f18d079f_848ac04a44" tabindex="-1" value=""></div>
          <input type="submit" value="Get Updates" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
        </form>
      </div>
    </div>
  </div>
</footer>
