<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msvalidate.01" content="3667D2FEB238C1BF174F3CB1AE0D3C16" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? content_for(:title) : "Libraries - The Open Source Discovery Service" %></title>
  <meta name="description" content="<%= content_for?(:description) ? content_for(:description) : "Discover new modules and libraries you can use in your projects." %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= content_for :atom %>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="<%= favicon(16)  %>" sizes="16x16" />
  <link rel="icon" type="image/png" href="<%= favicon(32)  %>" sizes="32x32" />
  <link rel="icon" type="image/png" href="<%= favicon(96)  %>" sizes="96x96" />
  <link rel="icon" type="image/png" href="<%= favicon(128) %>" sizes="128x128" />
  <link rel="icon" type="image/png" href="<%= favicon(196) %>" sizes="196x196" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="/mstile-310x310.png" />
  <meta property="fb:admins" content="508462908" />
  <link href="/opensearch.xml" title="Libraries.io" rel="search" type="application/opensearchdescription+xml">
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Libraries', root_path, class: 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to 'Subscriptions', subscriptions_path %>
            </li>
            <li>
              <%= link_to 'Logout', logout_path %>
            </li>
          <% end %>
          <li>
            <%= form_tag search_path, method: :get, class: 'navbar-form', enforce_utf8: false do |f| %>
              <%= text_field_tag 'q', '', placeholder: 'Search..', class: 'form-control', size: 50 %>
            <% end %>
          </li>
        </ul>
        <%= link_to('Login with GitHub', secure_login_url, class: 'pull-right btn btn-primary navbar-btn') unless logged_in? %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <div class="container">
      <div class='row'>
        <div class="col-xs-12 col-sm-6 col-md-7">
            <p>
              <%= link_to 'Libraries', root_path %> helps you find new open source libraries, modules and frameworks and keep track of ones you depend upon.
            </p>
            <p>
              <% cache("global_stats", :expires_in => 1.hour) do %>
                Currently tracking <%= link_to number_with_delimiter(Project.total), search_path %> open source projects
                from across <%= link_to Download.platforms.length, platforms_path %> platforms.
              <% end %>
            </p>
            <p>
              <%= link_to 'Support', 'https://github.com/librariesio/support/issues/new' %> -
              <%= link_to 'Twitter', 'https://twitter.com/librariesio' %> -
              <%= link_to 'GitHub', 'https://github.com/librariesio' %> -
              <%= link_to 'Contact', 'mailto:support@libraries.io' %>
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">
          <form action="//libraries.us10.list-manage.com/subscribe/post?u=15c11768c94674bc6f18d079f&amp;id=848ac04a44" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form" target="_blank" novalidate>
            <p>
              Subscribe to the Libraries newsletter:
            </p>
          	<input type="email" value="" name="EMAIL" size='40' placeholder='Your email...' class="form-control" id="mce-EMAIL">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_15c11768c94674bc6f18d079f_848ac04a44" tabindex="-1" value=""></div>
            <input type="submit" value="Get Updates" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
          </form>
        </div>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag 'application' %>
</body>
</html>
