<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? content_for(:title) : "Libraries" %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Libraries', root_path, class: 'navbar-brand' %>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= form_tag search_path, method: :get, class: 'navbar-form' do |f| %>
              <%= text_field_tag 'q', '', placeholder: 'Search..', class: 'form-control' %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <div class="container">
      <div class='row'>
        Tracking
        <% cache("top_products", :expires_in => 1.hour) do %>
          <strong><%= number_with_delimiter Version.count %></strong>
          versions of
          <strong><%= number_with_delimiter Project.count %></strong>
        <% end %>
        Projects
        and
        <strong><%= number_with_delimiter GithubRepository.count %></strong>
        Repositories
      </div>
    </div>
  </footer>
  <%= javascript_include_tag 'application' %>
</body>
</html>
